/* styles Air France Site mobile */
//Mixins

// Variables
  //Colors
@primary-color:       #051039;
@secondary-color:     #00a2e1;
@tertiary-color:      #fdd0a1;
@link-color:          #696e88;
@link-color-hover:    #02188b;
@footer-text-color:   #696e88;
@cartouche-color:     #fdd0a1;

@bg-body:             #f9f9f9;
// Poursentage
@lighten-percentage:           10%;
@saturate-percentage:          15%;

  // Fonts
@font-face {
font-family: 'Helvetica Neue';
font-style: normal;
font-weight: normal;
src: local('Helvetica Neue LT Std 45 Light'), url('HelveticaNeueLTStd Lt.woff') format('woff');
}
@font-face {
font-family: 'Helvetica 65 Medium';
font-style: normal;
font-weight: normal;
src: local('Helvetica 65 Medium'), url('HelveticaNeue-Medium.woff') format('woff');
}
@font-face {
font-family: 'Helvetica Neue Bold';
font-style: normal;
font-weight: normal;
src: local('Helvetica Neue Bold'), url('HelveticaNeueBold.woff') format('woff');
}
@font-family-sans-serif-light :  "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-sans-serif :  "Helvetica 65 Medium", Helvetica, Arial, sans-serif;
@font-family-sans-serif-bold : 'Helvetica Neue Bold', Helvetica, Arial, sans-serif;;

// Mixins
.lighten-primary-color {background: lighten(@primary-color, @lighten-percentage)}
.lighten-secondary-color {background: lighten(@secondary-color, @lighten-percentage)}

.saturate-primary-color {background: saturate(@primary-color, @saturate-percentage)}
.lighten-saturate {background: lighten(saturate(@primary-color, @saturate-percentage), @lighten-percentage)}

.box-sizing{ box-sizing: border-box;}

.border-top {border-top: 1px solid #eee;}
.border-bottom {border-bottom: 1px solid #eee;}

/* General Style */
.cartouche{
  padding: 5px 0 0;
  font-family: @font-family-sans-serif;
  > span{
    .box-sizing;
    float: left;
    width: 50px;
    height: 50px;
    background-color: @cartouche-color;
    text-align: center;
    padding-top:15px;
    color: @primary-color;
    line-height: 1;
    strong{
      line-height: 0.9;
      display: block;
      font-weight: 100;
    }
    + span{
      background-color: @primary-color;
      padding: 0;
      color: white;
      font-size: 20px;
    }
    small{
      font-size: 11px;
      display: block;
    }
    &.reduc{
      font-family: @font-family-sans-serif-bold;
      font-size: 22px;
      sup{
        font-size: 12px;
        top:-.7em;
      }
    }
  }
}
.cart{
  display:block;
  height: 36px;
  width: 30px;
  position: absolute;
  right: 3px;
  bottom:0;
  background: transparent url('../images/picto-cart.png') no-repeat 0 0;
  span{
    background-color: @secondary-color;
    color: white;
    position: absolute;
    right:-5px;
    top: -1px;
    .box-sizing;
    width: 18px;
    height:18px;
    font-size: 10px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid @bg-body;
    padding:1px 1px 0 0;
  }
}

/*Navbar*/
.navbar{
  position: absolute;
  border: none;
  z-index: 5;
  width: 65%;
  .navbar-nav{
    margin: 5px 0;
  }
  .navbar-toggle{
    border: none;
    &:focus, &:hover{
      background: none;
    }
    .icon-bar{
      background-color: @primary-color;
    }
  }
}
.navbar-default {
  background-color: transparent;
  .navbar-collapse{
    border:none;
    margin-left: -30px;
  }
  .navbar-nav{
    margin-top: 15px;
    position: relative;
    box-shadow: 0 0 8px #333;
    &::before{
      position: absolute;
      top: -12px;
      left:0;
      content: "";
      width: 0;
      height: 0;
      margin-left: 8%;
      border-style: solid;
      border-width: 0 11.5px 12px 11.5px;
      border-color: transparent transparent white transparent;
    }
    li, .active{
      background-color: white;
      position: relative;
      height: 53px;
      > a{
        background-color: white;
        font-weight: bold;
        color: #060c2b;
        height: 100%;
        width: 85%;
        margin: auto;
        line-height: 2;
        padding-left: 30px;
        border-bottom: 1px solid #eee;
        &:hover{
          background: none;
          color: inherit;
        }
        &::before{
          content: "";
          display: block;
          position: absolute;
          z-index: 5;
          top: 18px;
          left: 0;
          width: 13px;
          height: 13px;
          background-color: #fad5db;
        }
        &.artdevivre{
          &::before{
            background-color: #fff8b2;
          }
        }
        &.actualite{
          &::before{
            background-color: #b3ded3;
          }
        }
        &.viepratique{
          &::before{
            background-color: #c9cdde;
          }
        }
        &.loisir{
          &::before{
            background-color: #fdd0a1;
          }
        }
        &.jeunesse{
          &::before{
            background-color: #b1daed;
          }
        }
      }
    }
  }
}
/*Fin Navbar*/
body{
  color: #000;
  font-family: @font-family-sans-serif;
  background-color: @bg-body;
  .container{
    max-width:335px;
    .box-sizing;
  }
  .btn{
    padding: 10px 12px;
    border-radius: 0;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
    border: 2px solid @secondary-color;
    color: @secondary-color;
    background-color: white;
    &:hover{
      color: @primary-color;
      border-color: @primary-color;
    }
  }
  .btn-primary{
    background-color: @primary-color;
    border: none;
    margin: 0 auto;
    font-size: 16px;
    color: white;
    &:hover{
      .lighten-saturate;
      color: white;
    }
  }
  > header{
    max-width: 100%;
    margin: 0 auto;
    .header-top{
      .container{
        padding:0;
      }
      background-color: white;
      box-shadow:0px 0px 3px #898989;
      margin-bottom: 15px;
      &::after{
        content: "";
        display: block;
        clear: both;
      }
      h1,h2{
        font-size: 28px;
        display: inline;
        margin:5px 0 10px;
        float: left;
      }
      h2{
        float: right;
      }

    }
    .header-bottom{
      clear:both;
      text-align: center;
      .container{
        padding:0;
        position: relative;
      }
      p{
        font-size: 16px;
        margin-bottom: 4px;
        &.fblue-number{
          font-size: 12px;
          span{
            font-weight: bold;
          }
        }
      }
      .search-btn{
        position: absolute;
        right: 50px;
        bottom: 8px ;
        height: 23px;
        width: 23px;
        background: transparent url('../images/picto-search.png') no-repeat 0 0;
        label{

        }
      }
      .search-form{
        display: none;
        position: absolute;
        z-index: 5;
        padding:5px 20px 20px;
        top: 60px;
        background-color: white;
        width: 100%;
        .box-sizing;
        box-shadow:0 -1px 5px #9e9e9e;
        label{
          color: @primary-color;
        }
        &.open{
          display: block;
        }
        &::before{
          content: "";
          display: block;
          position: absolute;
          top: -12px;
          right: 25px;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 11px 12px 11px;
          border-color: transparent transparent #ffffff transparent;
        }
        input{
          border:none;
          box-shadow: none;
          border-radius: 0;
          border-bottom:2px solid @secondary-color;
        }
        &::after{
          content:"";
          display:block;
          clear: both;
        }
      }
    }
  }
  main{
    margin-top: 10px;
    text-align: center;
    header{
      background-color: @secondary-color;
      color: white;
      padding: 15px;
      height:98px;
      h2,h3{
        font-family: @font-family-sans-serif-bold;
        margin: 0 0 10px;
        font-size: 14px;
        font-weight: bold;
      }
      p{
        font-size: 16px;
        line-height: 1.2;
      }
      &::after{
        content:"";
        width: 0;
        height: 0;
        display: inline-block !important;
        margin-bottom: -4px;
        text-align: center;
        border-style: solid;
        border-width: 10px 10px 0 10px;
        border-color: #00a1e1 transparent transparent transparent;
        line-height: 0px;
        _border-color: #00a1e1 #000000 #000000 #000000;
        _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
      }
    }
    .content{
      max-width: 335px;
      margin: auto;
      .container{
        background: @secondary-color url('../images/bg_maldives.jpg') no-repeat bottom center;
        margin-bottom: 25px;
        ul{
          padding: 0;
          margin-bottom: 25px;
          li{
            list-style:none;
            background-color: @tertiary-color;
            color: @primary-color;
            font-size: 11px;
            width: 70px;
            height: 70px;
            .box-sizing;
            padding-top: 10px;
            strong{
              font-family: @font-family-sans-serif-bold;
              font-weight: normal;
              font-size: 18px;
              display: block;
              line-height: 1;
            }
            + li{
              padding-top:0;
              color: white;
              background-color: @primary-color;
            }
          }
        }
      }
      h1{
        font-family: @font-family-sans-serif-bold;
        font-size: 28px;
        color:white;
        margin-top: 0;
        padding-bottom: 175px;
        strong{
          display: block;
          font-size: 42px;
        }
      }
    }
    &.quizz, &.selection{
      .content{
        .container{
          padding-top: 120px;
          padding-bottom: 11px;
          background-image:url('../images/bg_quizz0.jpg');
        }
      }
      &.quizz1, &.quizz2, &.quizz3{
        > .container{
          position: relative;
          &::after{
            position: absolute;
            bottom: -6px;
            left: 47%;
          }
          p{
            font-size:22px;
          }
        }
        .content{
          .container{
            background-image: none;
            background-color: white;
            padding: 0;
            ul{
              &:after{
                content: "";
                clear: both;
                display:block;
                margin-bottom: 0;
              }
              clear: both;
              margin-bottom: 0;
              li{
                padding:0;
                width: 50%;
                max-width: 165px;
                height: 300px;
                float: left;
                background:url('../images/quiz1a.jpg') top center no-repeat;
                .box-sizing;
                a{
                  height: 100%;
                  display: block;
                  padding-top: 210px;
                  text-decoration:none;
                  color: white;
                  font-size: 20px;
                  text-align: center;
                  &::after{
                    content: url('../images/heart.png');
                    padding: 13px 0;
                    display: block;
                    background-color:white;
                    width: 46px;
                    height: 46px;
                    margin:2px auto;
                    .box-sizing;
                    border-radius: 50%;
                  }
                }
                & + li{
                  float: right;
                  background-image: url('../images/quiz1b.jpg');
                }
              }
            }
          }
          .progress_bar{
            clear: both;
            margin-bottom: 20px;
          }
        }
      }
      &.quizz2{
        .content{
          .container{
            ul{
              li{
                background-image: url('../images/quiz2a.jpg');
                & + li{
                  background-image: url('../images/quiz2b.jpg');
                }
              }
            }
          }
        }
      }
      &.quizz3{
        .content{
          .container{
            ul{
              li{
                background-image: url('../images/quiz3a.jpg');
                & + li{
                  background-image: url('../images/quiz3b.jpg');
                }
              }
            }
          }
        }
      }
    }
    &.selection{
      header{
        height: 78px;
      }
      .content{
        .container{
          background: none;
          padding: 25px 0 0;
          margin-bottom: 30px;
          .mags-list{
            margin-bottom:0;
            position: relative;
            &::after{
              content: "";
              display: block;
              clear: both;
            }
            li{
              display: block;
              display: none;
              background: none;
              width:160px;
              height: 206px;
              height: auto;
              float: left;
              padding:0;
              margin-bottom: 61px;
              &:nth-child(even){
                float:right;
                &::after{
                  content: "";
                  display: block;
                  height: 1px;
                  background-color: #cac5cf;
                  position: absolute;
                  left: 0;
                  right: 0;
                  margin: 30px 0;
                }
                &:last-child{
                  &::after{
                    content: none;
                    background: none;
                  }
                }
              }
              figure{
                position: relative;
                img{
                  width:160px;
                  height: 206px;
                }
                figcaption{
                  > span{
                    .box-sizing;
                    display: block;
                    width: 50px;
                    height: 50px;
                    background-color: @cartouche-color;
                    position: absolute;
                    right: 50px;
                    bottom: 0;
                    text-align: center;
                    padding-top:15px;
                    color: @primary-color;
                    line-height: 1;
                    strong{
                      line-height: 1;
                    }
                    + span{
                      right: 0;
                      background-color: @primary-color;
                      padding: 0;
                      color: white;
                      font-size: 20px;
                    }
                    small{
                      font-size: 11px;
                      display: block;
                    }
                    &.reduc{
                      font-family: @font-family-sans-serif-bold;
                      font-size: 22px;
                      sup{
                        font-size: 12px;
                        top:-.7em;
                      }
                    }
                  }
                }
              }
              h4{
                text-transform: uppercase;
                color: @secondary-color;
                font-size: 18px;
                margin-bottom: 0;
              }
              p{
                font-size: 12px;
                color: @primary-color;
              }
              img{
                box-shadow:0 4px 5px #bbb;
              }
              .btn{
                margin:auto;
                width: 85%;
                font-size: 14px;
                padding: 6px 0;
              }
            }
          }
          .button{
            background-color: @bg-body;
            position: relative;
            z-index: 3;
            margin-top:-50px;
            .btn{
              width: 50%;
              margin-top:-40px;
            }
          }
        }
      }
    }
    .main-bottom, .main-footer{
      background-color: white;
      box-shadow:0px 0px 5px #eee;
      margin-bottom: 30px;
      padding-bottom: 40px;
      &::after{
        content: "";
        display: block;
        clear: both;
      }
      section{
        max-width: 375px;
        margin: auto;
        padding: 40px 20px 20px;
        h2{
          margin: 0;
          font-size:22px;
          font-family: @font-family-sans-serif-bold;
        }
        .closeCart{
          text-decoration: underline;
          color: #696e88;
          font-size: 12px;
        }
        &.catalogue{
          ul{
            margin-top: 15px;
            padding: 0;
            li{
              margin-bottom: 15px;
              display: block;
              float: left;
              height: 160px;
              width: 160px;
              .box-sizing;
              color: white;
              text-shadow: 0 0 3px #212121;
              font-family: @font-family-sans-serif-bold;
              background: url('../images/thumb-feminin.jpg') no-repeat 0 0;
              &:nth-child(even){
                float: right;
              }
              &.artdevivre{
                background-image: url('../images/thumb-artdevivre.jpg');
              }
              &.actualite{
                background-image: url('../images/thumb-actualite.jpg');
              }
              &.viepratique{
                background-image: url('../images/thumb-viepratique.jpg');
              }
              &.loisirs{
                background-image: url('../images/thumb-loisir.jpg');
              }
              &.jeunesse{
                background-image: url('../images/thumb-jeunesse.jpg');
              }
              a{
                padding-top: 20px;
                .box-sizing;
                display: block;
                width: 100%;
                height: 100%;
                color: white;
                font-family: @font-family-sans-serif-bold;
                font-size: 20px;
                &:hover{
                  text-decoration: none;
                }
              }
            }
          }
        }
        /* panier */
        &.panier{
          padding-bottom: 0;
          .panier-content{
            margin-top: 30px;
            ul{
              .border-top;
              padding:0;
              margin-bottom: 30px;
              &::after{
                content: "";
                display: block;
                clear: both;
              }
              li{
                list-style: none;
                padding:15px 0;
                .border-bottom;
                &::after{
                  content: "";
                  display: block;
                  clear: both;
                }
                figure{
                  max-width: 100px;
                  position: relative;
                  padding: 0;
                  margin-right: 10px;
                  img{
                    max-width: 100%;
                    min-height:127px;
                    box-shadow: 0 0 5px #888;
                  }
                  figcaption{
                    position: absolute;
                    top: 5px;
                    line-height: 1.2;
                    font-size: 14px;
                    color: white;
                    strong{
                      font-size:20px;
                      display: inline-block;
                    }
                  }
                }
                .removeItem{
                  font-size: 16px;
                }
                p.hs{
                  clear: both;
                  line-height: 1;
                  padding-top: 10px;
                  small{
                    font-size: 75%;
                  }
                }
                div{
                  padding: 5px 0 0;
                  font-family: @font-family-sans-serif-light;
                  + div{
                    padding-top: 35px;
                  }
                  p{
                    font-size:20px;
                    line-height: .9;
                    font-weight:100;
                    color: @secondary-color;
                    margin-bottom: 0;
                    &.price{
                      span{
                        display:block;
                        margin-top: 10px;
                        line-height:1.2;
                      }
                    }
                    strong{
                      font-family:@font-family-sans-serif-bold;
                      color: @secondary-color;
                      font-size: 14px;
                      line-height: 1;
                      span{
                        text-transform:none;
                        display: block;
                        font-size: 11px;
                        line-height: 1.6;
                        font-weight: 600;
                        color: @secondary-color;
                      }
                    }
                    &.mag-title{
                      strong{
                        text-transform: uppercase;
                      }
                    }
                    span{
                      color: @primary-color;
                      font-family:@font-family-sans-serif;
                      font-size:11px;
                      font-weight: 100;
                      line-height: 1;
                    }
                  }
                }
                &.gain{
                  div{
                    padding-top: 40px;
                    + div{
                      padding-top: 60px;
                    }
                  }
                }
                &:last-child{
                  figure{
                    img{
                      box-shadow: none;
                    }
                  }
                }
              }
            }
            p{
              line-height: 1.1;
              small{
                font-size:75%;
              }
            }
            .container-btn{
              .btn{
                margin:15px 0 0;
              }
            }
          }
        }
        &.adress-form{
          form{
            .border-top;
            padding: 15px 0 25px;
            &::after{
              content: "";
              display: block;
              float: none;
              clear: both;
            }
            div{
              position: relative;
              padding: 0;
              label{
                color: @secondary-color;
                margin: 0;
                line-height: 1;
              }
              input{
                border:none;
                box-shadow: none;
                border-radius: 0;
                border-bottom:2px solid @secondary-color;
                margin:0 0 20px;
                padding: 1px 5px;
                color: @primary-color;
              }
              &::after{
                content:"";
                display:block;
                clear: both;
              }
            }
          }
        }
        &.description{
          figure{
            position: relative;
            width:217px;
            height: 283px;
            margin: 0 auto 50px;
            img{
              width:217px;
              height: 283px;
              box-shadow: 0 0 8px #555;
            }
            figcaption{
              > span{
                .box-sizing;
                display: block;
                width: 50px;
                height: 50px;
                background-color: @cartouche-color;
                position: absolute;
                right: 50px;
                bottom: 0;
                text-align: center;
                padding-top:15px;
                color: @primary-color;
                line-height: 1;
                strong{
                  line-height: 0.9;
                  display: block;
                }
                + span{
                  right: 0;
                  background-color: @primary-color;
                  padding: 0;
                  color: white;
                  font-size: 20px;
                }
                small{
                  font-size: 11px;
                  display: block;
                }
                &.reduc{
                  font-family: @font-family-sans-serif-bold;
                  font-size: 22px;
                  sup{
                    font-size: 12px;
                    top:-.7em;
                  }
                }
              }
              .num-version{
                position: absolute;
                left: -25px;
                bottom: -20px;
                width: 122px;
                height: 172px;
                background: url("../images/bg-tablet.png") no-repeat 0 0;
                z-index: 4;
                .box-sizing;
                padding-top: 12px;
                img{
                  width: 114px;
                  height:148px;
                }
                > span{
                  .box-sizing;
                  padding-top: 3px;
                  height: 34px;
                  display: block;
                  position: absolute;
                  background-color: #b1daed;
                  bottom: 12px;
                  left: 4px;
                  right: 4px;
                  font-size: 11px;
                  line-height: 1.2;
                  span{
                    font-size:14px;
                  }
                }
              }
            }
          }
          .details{
            width: 195px;
            margin:0 auto;
            .mag-title{
              font-size: 20px;
              font-family: @font-family-sans-serif-bold;
              font-weight: bold;
              text-transform:uppercase;
              color: @secondary-color;
            }
            .mag-period,
            .old-price,
            .future-price{
              text-transform: capitalize;
              color: @primary-color;
              font-size: 12px;
              margin: 0;
              clear:both;
            }
            .new-price{
              color:@secondary-color;
              text-align: left;
              line-height: 1.4;
              strong{
                font-size: 40px;
                font-family:@font-family-sans-serif-light;
                font-weight: 100;
                float: left;
                margin-right: 10px;

                sup{
                  top:-17px;
                  font-size: 18px;
                }
              }
              span{
                font-size: 12px;
                display: inline-block;

                padding-top:10px;
              }
            }
            .container-btn{
              margin-top: 20px;
              width: 100%;
            }
          }
        }
      }
    }
    .main-footer{
      background: none;
      box-shadow: none;
      section{
        padding-top: 0;
        position: relative;
        .border-bottom;
        &::after{
          content: "";
          display: block;
          clear: both;
        }
        h2{
          margin-bottom: 10px;
        }
        .details{
          width: 75%;
          h3{
            margin:10px 0 5px;
            font-size: 14px;
            font-weight: 600;
            color: @secondary-color;
            line-height: 1;
            font-family: @font-family-sans-serif-bold;
          }
          p{
            color: @primary-color;
            font-size: 11px;
            line-height: 1.3;
            margin-bottom: 1px;
            span{
              color:@secondary-color;
            }
          }
        }
        figure{
          float: left;
          width: 102px;
          margin-right: 15px;
          img{
            width: 100%;
          }
        }
        .cart{
          position: absolute;
          right: 20px;
          top: 45%;
          height: 46px;
          width: 46px;
          border:2px solid @primary-color;
          .box-sizing;
          background-position: center center;
          a{
            width: 100%;
            height: 100%;
            display: block;
            span{
              background-color: @primary-color;
              right: 4px;
              top: 5px;
              padding: 0;
            }
          }
        }
        &.aditionnal-list{
          padding-bottom: 0;
          border-bottom: none;
          ul{
            padding: 20px 0 0;
            &::after{
              content: "";
              display: block;
              clear: both;
            }
            li{
              list-style: none;
              padding: 0;
              text-align: center;
              figure{
                text-align:center;
                float:none;
                margin: 0 auto;
                .cartouche{
                  padding: 0;
                  z-index: 5;
                  margin-top: -25px;
                  position: absolute;
                  background-color: @primary-color;
                  width: 102px;
                  > span{
                    + span{
                      float: right;
                    }
                  }
                }
              }
              h4{
                clear: both;
                padding-top: 30px;
                color: @secondary-color;
                font-size: 14px;
                font-weight: 600;
              }
              p{
                color: @secondary-color;
                font-size: 11px;
                font-weight: 300;
                line-height: 1.2;
              }
            }
          }
        }
      }
    }
    .container-btn{
      padding: 0;
      .btn{
        margin: 0 0 20px;
        width: 100%;
      }
    }
    .totop{
      margin:0;
      a{
        color: @primary-color;
      }
    }
  }
  &.home{
    .content{
      .container{
        padding: 20px;
      }
    }
  }
  /* pages confirmationsFin */

  main{
    .endPage{
      max-width: 100%;
      ul{
        padding: 0;
        li{
          padding:40px 15px;
          list-style:none;
          background-color: #f0f0f0;
          &:nth-child(2){
            background-color: #b3d4fc;
          }
          h3{
            color: @secondary-color;
            font-size: 24px;
            margin-bottom: 10px;
            line-height: 1.3;
          }
          span{
            color: black;
            font-size: 16px;
          }
          .btn{
            margin-top: 15px;
            width: 90%;
            font-weight: 300;
          }
        }
      }
      .round-icon{
        display: inline-block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin: 0 auto;
        background-color: #002156;
        &.offreMag {
          background-color: white;
        }
        .box-sizing;
        padding-top: 15px;
        .glyphicon{
          color:white;
          font-size: 30px;
          &.glyphicon-remove{
            color:red;
          }
        }
      }
    }
  }
  footer{
    margin-top: 25px;
    border-top:1px solid #eee;
    padding-top: 10px;
    background-color: white;
    .container{
      padding: 0;
    }
    p{
      padding:20px 0;
      color:@footer-text-color;
      font-size: 11px;
      text-align: justify;
    }
    ul{
      padding: 25px 0;
      clear: both;
      background-color: @primary-color;
      margin: 0;
      li{
        list-style: none;
        color: white;
        font-size: 12px;
        line-height: 2;
        a{
          color: white;
          &:hover{
            color: white;
            text-decoration: underline;
          }
        }
      }
    }
    .modal-dialog{
      p{
        font-size: 18px;
      }
    }
  }
  &.end{
    main{
      .content{
        h1{
          padding-bottom: 200px;
        }
      }
    }
  }
}
