body.avantages-exclusifs {
  #mobileCartItem {
    position        : fixed;
    top             : 0;
    left            : 0;
    right           : 0;
    background-color: @main-background-color;
    z-index         : 20;

    .mobileCartItem-inner {
      padding: 30px;
      color  : @b;

      .mobileCartItem-header {
        position     : relative;
        padding-right: 20px;

        .close-mag {
          display  : inline-block;
          position : absolute;
          top      : 0;
          right    : 0;
          color    : @secondary-color;
          font-size: 20px;
          cursor   : pointer;
        }

        h6 {
          margin        : 0;
          text-transform: uppercase;
          font-size     : 16px;
          color         : @secondary-color;
        }
      }

      .mobileCartItem-content {
        .cover {
          margin    : 30px 0;
          text-align: center;

          img {
            height: 230px;
            width : 168px;
          }
        }

        .description {
          display        : flex;
          justify-content: space-around;

          .prices {
            font-size    : 18px;
            padding-right: 10px;

            .price {
              color: @secondary-color;
            }

            .old-price {
              color      : #bebebe;
              margin-left: 8px;
            }

            p {
              font-size: 12px;
            }
          }

          .delimiter {
            width      : 0;
            border-left: 1px solid;
          }

          .more {
            padding-left: 10px;

            @media (max-width: 420px) {
              max-width: 130px;
            }
          }
        }

        .action-block {
          margin-top: 30px;

          button {
            padding-left : 0;
            padding-right: 0;
            width        : 100%;
            display      : block;
          }
          .mask {
            position:absolute;
            top:0;
            right:0;
            bottom:0;
            left:0;
            background-color:rgba(0,77,154,0.9);
            color:#ffffff;
            font-size:16px;
            padding:20px;
            text-align:center;
            display:none;
            .icon {
                margin-bottom:30px;
                margin-top:200px;
                [class^="icon-"],[class*=" icon-"] {
                  border:3px solid #ffffff;
                  border-radius:50%;
                  padding:10px;
                  font-size:20px;
                }
            }
          }
        }
      }
    }
  }

  section.main {
    color      : @main-text-color;
    font-weight: @main-font-weight;
    font-size  : 16px;
    background : @primary-color url('../img/selection/selection_bg.jpg') no-repeat top;

    @media (max-width: 991px) {
      background: @primary-color url('../img/selection/selection_bg_mobile.jpg') no-repeat bottom;
    }

    .left {
      padding: 80px 0 80px 40px;

      @media (max-width: 991px) {
        padding: 40px 15px 230px;
      }

      h3 {
        font-weight  : 600;
        margin-bottom: 4px;
      }

      p {
        margin-bottom: 0;

        &:first-of-type {
          margin-bottom: 10px;
        }
      }

      a {
        color: @main-text-color;
      }

      .content {
        margin-top: 20px;
      }
    }
  }

  section.selection {
    padding         : 0 50px;
    background-color: @secondary-background-color;

    @media (max-width: 991px) {
      background-color: @main-background-color;
      padding         : 0;
    }

    .header {
      padding: 50px 0;
      margin : 0;

      @media (max-width: 767px) {
        padding: 30px 0;
      }

      h4 {
        float      : left;
        font-size  : 20px;
        color      : @secondary-color;
        font-weight: @main-font-weight;
      }

      .cart {
        float   : right;
        color   : @secondary-text-color;
        position: relative;

        @media (max-width: 767px) {
          position: static;
        }

        #mobileCart {
          color   : @secondary-color;
          position: relative;
          cursor  : pointer;

          [class*="icon-"] {
            font-size: 30px;
          }

          #mobileNbCart {
            position: absolute;
            right   : 11px;
            top     : 8px;
          }
        }

        .delimiter {
          margin: 0 10px;
        }

        .cart-inner {
          display         : none;
          position        : absolute;
          top             : 38px;
          right           : -30px;
          background-color: @main-background-color;
          z-index         : 10;
          width           : 400px;
          border          : 1px solid transparent;

          @media (max-width: 991px) {
            border: 1px solid @lightgray;
          }

          @media (max-width: 767px) {
            top  : 0;
            right: 0;
            left : 0;
            width: 100%;
          }

          .triangle {
            width       : 0;
            height      : 0;
            border-style: solid;
            border-width: 0 15px 20px 15px;
            border-color: transparent transparent @w transparent;
            position    : absolute;
            top         : -20px;
            right       : 50px;

            @media (max-width: 991px) {
              border-color: transparent transparent @lightgray transparent;
            }

            @media (max-width: 767px) {
              display: none;
            }
          }

          .cart-header {
            margin   : 30px;
            color    : @secondary-color;
            font-size: 20px;
            position : relative;

            .close-cart {
              position: absolute;
              top     : 0;
              right   : 0;
              cursor  : pointer;
            }
          }

          .cart-list {
            margin       : 30px 10px 0;
            border-bottom: 1px solid @lightgray;

            @media (max-width: 767px) {
              margin-top: 0;
            }

            .cart-list-inner {
              padding   : 0 20px;
              max-height: 380px;
              overflow-y: scroll;

              .cart-item {
                border-bottom: 1px solid @lightgray;
                position     : relative;

                @media (max-width: 420px) {
                  display: flex;
                }

                &:last-child {
                  border: 0;
                }

                .remove-action {
                  display : inline-block;
                  position: absolute;
                  top     : 0;
                  right   : 0;
                  cursor  : pointer;
                }

                &+.cart-item {
                  margin-top: 20px;
                }

                .cover {
                  float: left;

                  img {
                    height: 110px;
                    width : 80px;
                  }
                }

                .description {
                  float       : left;
                  padding-left: 20px;
                  width       : 220px;

                  .mag {
                    margin-bottom: 10px;
                    padding-right: 20px;

                    h6 {
                      margin        : 0;
                      color         : @secondary-color;
                      text-transform: uppercase;
                      font-size     : 16px;
                    }

                  }

                  .old-price,
                  .price {
                    display  : inline-block;
                    font-size: 18px;
                  }

                  .price {
                    color      : @secondary-color;
                    font-weight: 600;
                  }

                  .old-price {
                    color       : #bebebe;
                    padding-left: 15px;
                  }

                  p {
                    margin-bottom: 8px;

                    &.more {
                      position    : relative;
                      padding-left: 16px;

                      &::before {
                        font-family: 'carrefour-adl';
                        content    : @icon-croix_hs;
                        position   : absolute;
                        left       : 0;
                        top        : 10px;
                      }
                    }
                  }
                }
              }
            }
          }

          .cart-action {
            text-align: center;
            padding   : 30px 0;
          }
        }
      }
    }

    .tabbar {
      .item {
        display: inline-block;
      }
    }

    .sliders {
      margin: 50px 0;

      @media (max-width: 767px) {
        margin: 30px 0;
      }
    }

    .action-block {
      text-align: center;
      padding   : 40px 0 60px;

      button {
        font-size: 18px;
        @media (max-width: 767px) {
          padding-left : 0;
          padding-right: 0;
          width        : 100%;
        }
      }

      a {
        color: transparent;
      }

      a+a {
        button {
          margin-left: 15px;
          @media (max-width: 767px) {
            margin-top : 15px;
            margin-left: 0;
          }
        }
      }
    }

    .selection-footer {
      font-size: 12px;
      color    : @secondary-text-color;
      padding  : 0 50px 50px;
    }
  }
}
