body.confirmation {
  .top {
    text-align: center;
    font-size : 22px;
    padding   : 60px 0;

    strong {
      display      : block;
      margin-bottom: 16px;
    }
  }

  .content {
    display  : -webkit-box;
    display  : -webkit-flex;
    display  : -ms-flexbox;
    display  : flex;
    flex-wrap: wrap;

    .col-md-4 {
      padding   : 0 24px 90px;
      text-align: center;

      &.row-1 {
        padding: 90px 24px 20px;
        @media (max-width: 991px) {
          display: block;
          width  : 100%;
          padding: 40px 15px;
        }
      }

      .round-icon {
        display      : inline-block;
        width        : 60px;
        height       : 60px;
        border-radius: 50%;
        margin       : 0 auto;

        [class*='icon-'] {
          font-size  : 30px;
          line-height: 60px;
        }
      }

      .main-text {
        margin-top: 20px;

        strong {
          color         : @primary-color;
          text-transform: uppercase;
          font-size     : 22px;
        }

        h3 {
          font-weight: 600;
        }
      }

      .second-text {
        font-size: 16px;
      }

      &.bg-secondary-bg {
        .main-text {
          h3 {
            color: @secondary-color;
          }
        }
      }

      .action-block {
        margin-top: 30px;

        button {
          @media (max-width: 1199px) {
            width        : 100%;
            padding-left : 0;
            padding-right: 0;
          }

          @media (max-width: 991px) {
            width  : inherit;
            padding: @button-padding;
          }

          @media (max-width: 479px) {
            width        : 100%;
            padding-left : 0;
            padding-right: 0;
          }
        }
      }
    }
  }
}
