body.page-homepage {
  section.main {
    background     : @main-background-color url('../img/HP/hp_bg.jpg') no-repeat top;
    background-size: cover;

    @media (max-width: 991px) {
      background: @main-background-color url('../img/HP/bg_abs.jpg') repeat;
    }

    .content {
      padding: 86px 0 40px;

      @media (max-width: 991px) {
        padding: 0;
      }

      .left {
        @media (max-width: 991px) {
          text-align: center;
        }

        .inner {
          padding-left: 56px;
          padding-top : 20px;

          @media (max-width: 991px) {
            padding: 0;
          }

          h1 {
            text-transform: uppercase;
            margin-top    : 10px;
            @media (max-width: 991px) {
              margin-top: 4px;
            }
          }
        }
      }
    }

    .visible-xs.visible-sm {
      img {
        width: 100%;
      }
    }

    .footer {
      padding: 30px 20px 40px;
      @media (max-width: 991px) {
        padding: 15px;
      }
    }
  }

  section.form {
    .title {
      text-align: center;
      padding   : 50px 0;
      @media (max-width: 991px) {
        padding: 50px 15px;
      }
    }

    .inner {
      .action-block {
        text-align: center;
        padding   : 40px 0 60px;
      }
    }

    .form-footer {
      padding         : 50px;
      background-color: @secondary-background-color;
      color           : @secondary-text-color;
      font-size       : 12px;
      line-height     : 1.2;

      @media (max-width: 991px) {
        padding         : 40px 0 0;
        background-color: @main-background-color;
      }
    }
  }
}
