body.panier {
  position: relative;

  section.main {
    background-color: @secondary-background-color;
    padding         : 60px 65px;

    @media (max-width: 1199px) {
      background-color: @main-background-color;
      padding-left    : 15px;
      padding-right   : 15px;
    }

    @media (max-width: 991px) {
      padding-top: 0;
    }

    .checking {
      .left,
      .right {
        padding: 0;
        color  : @b;
        @media (max-width: 1199px) {
          float: none;
          width: 100%;
        }
      }

      .left {
        .inner {
          margin-right    : 15px;
          background-color: @main-background-color;
          @media (max-width: 1199px) {
            margin-right: 0;
          }
        }
      }

      .right {
        .inner {
          padding         : 36px 26px;
          margin-left     : 15px;
          background-color: @main-background-color;

          @media (max-width: 1199px) {
            margin-left     : 0;
            background-color: @secondary-background-color;
          }

          h4 {
            font-size  : 20px;
            color      : @secondary-color;
            font-family: @main-font-family;
            margin     : 0 0 20px;
          }

          #showAddress {
            &::before {
              font-family : 'carrefour-adl';
              content     : @icon-croix_hs;
              margin-right: 6px;
              display     : inline-block;
            }
          }

          strong {
            text-transform: uppercase;
          }
        }
      }
    }

    .text {
      padding  : 20px 0;
      color    : @secondary-text-color;
      font-size: 12px;

      a {
        color: inherit;
      }
    }

    .checkbox {
      margin: 0;

      label {
        color: @b;
      }

      /* Base for label styling */
      [type="checkbox"]:checked,
      [type="checkbox"]:not(:checked) {
        position: absolute;
        left    : -9999px;
      }

      [type="checkbox"]:checked + label,
      [type="checkbox"]:not(:checked) + label {
        position    : relative;
        padding-left: 1.95em;
        cursor      : pointer;
      }

      /* checkbox aspect */
      [type="checkbox"]:checked + label:before,
      [type="checkbox"]:not(:checked) + label:before {
        content      : '';
        position     : absolute;
        left         : 0;
        top          : 2px;
        width        : 16px;
        height       : 16px;
        border       : 1px solid @lightgray;
        background   : @w;
        border-radius: 0;
      }
      /* checked mark aspect */
      [type="checkbox"]:checked + label:after,
      [type="checkbox"]:not(:checked) + label:after {
        font-family: 'carrefour-adl';
        content    : @icon-coche;
        position   : absolute;
        top        : 3px;
        left       : 3px;
        font-size  : 11px;
        color      : @secondary-color;
      }
      /* checked mark aspect changes */
      [type="checkbox"]:not(:checked) + label:after {
        opacity  : 0;
        transform: scale(0);
      }

      [type="checkbox"]:checked + label:after {
        opacity  : 1;
        transform: scale(1);
      }
    }

    .action-block {
      padding-top   : 60px;
      padding-bottom: 40px;
      text-align    : center;

      .col-md-6 {
        &:first-of-type {
          text-align: right;
        }

        &:last-of-type {
          text-align: left;
        }

        @media (max-width: 767px) {
          text-align: center !important;

          button {
            width        : 100%;
            padding-left : 0;
            padding-right: 0;
          }

          &+ .col-md-6 {
            margin-top: 15px;
          }
        }
      }
    }
  }

  .popup-change-address {
    display         : none;
    position        : absolute;
    top             : 0;
    left            : 0;
    right           : 0;
    bottom          : 0;
    background-color: rgba(255, 255, 255, 0.5);

    .popup-inner {
      background-color: @main-background-color;
      width           : 460px;
      margin          : 200px auto 0;
      border          : 1px solid @lightgray;

      @media (max-width: 767px) {
        width : 100%;
        margin: 0;
      }

      .popup-header {
        margin  : 50px;
        position: relative;

        h5 {
          margin       : 0;
          font-size    : 20px;
          color        : @secondary-color;
          padding-right: 20px;
        }

        .popup-close {
          display  : inline-block;
          position : absolute;
          top      : 0;
          right    : 0;
          color    : @secondary-color;
          font-size: 18px;
          cursor   : pointer;
        }
      }

      .popup-content {
        margin: 0 50px;

        .action-block {
          margin    : 60px 0;
          text-align: center;
        }
      }
    }
  }
}
