.btn {
  padding         : @button-padding;
  color           : @button-text-color;
  background-color: @button-background-color;
  font-family     : @button-font-family;
  font-weight     : @button-font-weight;
  font-size       : @button-font-size;
  text-transform  : uppercase;
  border          : @button-border;
  border-radius   : @button-border-radius;

  &:active,
  &:focus,
  &:hover {
    background-color: @button-background-color-hover;
    color           : @button-text-color;
  }

  &.btn-secondary {
    background-color: @secondary-color;
    color           : @main-background-color;
    font-weight     : 600;
    font-size       : 14px;

    &:active,
    &:focus,
    &:hover {
      background-color: darken(@secondary-color, 4.1);
    }
  }

  &.btn-small {
    padding: @button-padding-small;
  }

  &.clear {
    background-color: @main-background-color;
    color           : @button-background-color;
    border-color    : @button-background-color;

    &:active,
    &:focus,
    &:hover {
      background-color: #fbf3e8;
    }
  }
}
