.form {
  .form-group {
    position     : relative;
    margin-bottom: 18px;

    label {
      color      : @form-label-color;
      font-family: @form-label-font-family;
      font-weight: @form-label-font-weight;
      font-size  : @form-label-font-size;
      margin     : 0;

      &.form-control-placeholder {
        position  : absolute;
        top       : 10px;
        transition: all 200ms;
        color     : @form-input-placeholder-color;
      }
    }

    .form-control:focus + .form-control-placeholder,
    .form-control:valid + .form-control-placeholder {
      transform: translate3d(0, -110%, 0);
      color    : @secondary-color;
      font-size: 12px;
    }

    input[type=checkbox],
    input[type=radio] {
      visibility: hidden;
    }

    input[type=text] {
      background   : @form-input-background-color;
      border       : @form-input-border;
      outline      : none;
      box-shadow   : none;
      border-radius: @form-input-border-radius;
      border-bottom: 1px solid @form-input-placeholder-color;
      color        : @form-input-color;
      padding      : @form-input-padding;
    }

    &.form-checkboxes {
      margin-bottom: 8px;

      label {
        &:first-child {
          display  : block;
          font-size: 12px;
          color    : @secondary-color;
        }
      }
    }

    .radio {
      display: inline-block;

      label {
        color       : @form-label-color;
        padding-left: 0;
        font-size   : @form-label-font-size;
      }

      input[type="radio"] + label:before {
        background-color   : @form-input-color;
        border             : 1px solid @form-input-border-color;
        display            : inline-block;
        transition-duration: 0.3s;
        width              : 14px;
        height             : 14px;
        content            : '';
        border-radius      : 50%;
        margin-right       : 4px;
      }

      input[type="radio"]:checked + label:before {
        background: @secondary-color;
        padding   : 2px;
        text-align: center;
        border    : 2px solid @form-input-border-color;
      }
    }

    .radio+.radio {
      margin-left: 30px;
    }

    &.has-error {
      label {
        &.form-control-placeholder {
          color: @form-error-color !important;
        }
      }

      input[type="text"] {
        border-color: @form-error-color;
      }

      .text-error {
        position: absolute;
        top     : -8px;
        right   : 0;
      }
    }
  }

  &.light {
    .form-group {
      input[type=text] {
        color: @primary-color;
      }

      &--active {
        input[type=text] {
          border-color: @primary-color;
        }
      }

      .radio {
        label {
          color: @primary-color;
        }

        input[type="radio"] + label:before {
          border-color: @lightgray;
        }
      }
    }
  }

  small.text-error {
    font-size : 11px;
    font-style: italic;
    color     : @form-error-color;
  }
}
