@font-face {
  font-family: 'carrefour-adl';
  src        : url("@{icon-font-path}/carrefour-adl.eot?efkkjg");
  src        : url("@{icon-font-path}/carrefour-adl.eot?efkkjg#iefix") format('embedded-opentype'), url("@{icon-font-path}/carrefour-adl.ttf?efkkjg") format('truetype'), url("@{icon-font-path}/carrefour-adl.woff?efkkjg") format('woff'), url("@{icon-font-path}/carrefour-adl.svg?efkkjg#carrefour-adl") format('svg');
  font-weight: normal;
  font-style : normal;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family            : 'carrefour-adl' !important;
  speak                  : none;
  font-style             : normal;
  font-weight            : normal;
  font-variant           : normal;
  text-transform         : none;
  line-height            : 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-carte {
  &:before {
    content: @icon-carte;
  }
}

.icon-coche {
  &:before {
    content: @icon-coche;
  }
}

.icon-croix_hs {
  &:before {
    content: @icon-croix_hs;
  }
}

.icon-croix-popup {
  &:before {
    content: @icon-croix-popup;
  }
}

.icon-croix {
  &:before {
    content: @icon-croix;
  }
}

.icon-fleche {
  &:before {
    content: @icon-fleche;
  }
}

.icon-fleche2 {
  &:before {
    content: @icon-fleche2;
  }
}

.icon-num {
  &:before {
    content: @icon-num;
  }
}

.icon-panier {
  &:before {
    content: @icon-panier;
  }
}

.icon-pin_tunnel_actif {
  &:before {
    content: @icon-pin_tunnel_actif;
  }
}

.icon-pin_tunnel {
  &:before {
    content: @icon-pin_tunnel;
  }
}
