.list {
  list-style-type: none;

  @media (max-width: 991px) {
    padding: 0 0 0 15px;
  }

  li {
    float   : left;
    position: relative;

    @media (max-width: 991px) {
      float  : none;
      display: block;
    }

    span {
      color      : @list-text-color;
      font-family: @list-font-family;
      font-weight: @list-font-weight;
      font-size  : @list-font-size;
    }

    &::before {
      content  : "•";
      color    : @list-bullet-color;
      font-size: @list-bullet-size;
      position : absolute;
      left     : -24px;
      top      : -26px;
    }
  }

  li+li {
    margin-left: 80px;

    @media (max-width: 1199px) {
      margin-left: 24px;
    }

    @media (max-width: 991px) {
      margin-left: 0;
    }
  }
}
