.slider {
  .slider-header {
    h5 {
      color      : @slider-header-color;
      font-size  : @slider-header-font-size;
      font-family: @slider-header-font-family;
      font-weight: @slider-header-font-weight;
    }
  }

  .slider-content {
    margin  : 0 -@slider-margin;
    position: relative;

    @media (max-width: 991px) {
      margin: 0;
    }

    @media (max-width: 767px) {
      margin: 0 -15px;
    }

    &.unanimated {
      margin         : 0;
      display        : flex;
      justify-content: flex-start;
      flex-wrap      : wrap;

      .slider-item {
        margin-right : 12px;
        margin-bottom: 12px;

        @media (max-width: 767px) {
          margin-right : 4px;
          margin-bottom: 4px;
        }

        &+.slider-item {
          margin-left: 0;
        }

        &:first-child {
          margin: 0 12px 12px 0;

          @media (max-width: 767px) {
            margin-right : 4px;
            margin-bottom: 4px;
          }
        }
      }
    }

    .slick-track {
      left: @slider-margin;

      @media (max-width: 991px) {
        left: 0;
      }
      @media (max-width: 767px) {
        left: 15px;
      }
    }

    &:hover {
      .slick-arrow {
        display: block !important;
      }
    }

    .slick-arrow {
      position        : absolute;
      width           : @slider-margin;
      top             : 0;
      bottom          : 0;
      z-index         : 10;
      border          : 0;
      border-radius   : 0;
      outline         : none;
      background-color: rgba(0,0,0, 0.7);
      display         : none !important;

      @media (max-width: 767px) {
        width     : 0;
        z-index   : 0;
        visibility: hidden;
      }

      &.slick-prev {
        left: 0;
      }

      &.slick-next {
        right: 0;

        .icon-fleche2 {
          display  : inline-block;
          transform: rotateY(180deg);
        }
      }
    }

    .slider-item {
      display       : inline-block;
      vertical-align: top;
      height        : @slider-cover-height;
      position      : relative;

      @media (max-width: 767px) {
        width : @slider-cover-width-medium;
        height: @slider-cover-height-medium;
      }

      &:first-child {
        margin-left: @slider-margin;
      }

      .item-click {
        display           : none;
        position          : absolute;
        top               : -10px;
        left              : -182px;
        background-color  : @main-background-color;
        color             : @b;
        z-index           : 2;
        width             : 424px;
        outline           : 0;
        -webkit-box-shadow: 0 0 6px 2px @darkgray;
        -moz-box-shadow   : 0 0 6px 2px @darkgray;
        box-shadow        : 0 0 6px 2px @darkgray;

        &:active,
        &:focus {
          outline: 0;
        }

        @media (max-width: 767px) {
          display: none !important;
        }

        .cover {
          float: left;

          img {
            width : @slider-overlay-width;
            height: @slider-overlay-height;
          }
        }

        .description {
          width  : @slider-overlay-width;
          height:290px;
          float  : left;
          padding: 40px 20px;
          position:relative;

          .mag {
            margin-bottom: 20px;

            h6 {
              margin        : 0;
              color         : @secondary-color;
              text-transform: uppercase;
              font-size     : 16px;
            }

          }

          .old-price,
          .price {
            display  : inline-block;
            font-size: 18px;
          }

          .price {
            color      : @secondary-color;
            font-weight: 600;
          }

          .old-price {
            color       : @grey;
            padding-left: 14px;
          }

          p {
            margin-bottom: 12px;
          }
          .mask {
            position:absolute;
            top:0;
            right:0;
            bottom:0;
            left:0;
            background-color:rgba(0,77,154,0.9);
            color:#ffffff;
            font-size:16px;
            padding:20px;
            text-align:center;
            display:none;
            .icon {
                margin-bottom:30px;
                margin-top:75px;
                [class^="icon-"],[class*=" icon-"] {
                  border:3px solid #ffffff;
                  border-radius:50%;
                  padding:10px;
                  font-size:20px;
                }
            }
          }
        }
      }

      .cover {
        position: relative;
        cursor  : pointer;

        img {
          width : @slider-cover-width;
          height: @slider-cover-height;

          @media (max-width: 767px) {
            width : @slider-cover-width-medium;
            height: @slider-cover-height-medium;
          }
        }

        .info {
          position        : absolute;
          bottom          : 0;
          left            : 0;
          width           : @slider-cover-info-width;
          height          : @slider-cover-info-height;
          background-color: @slider-cover-info-background-color;
          color           : @slider-cover-color;
          font-family     : @slider-cover-font-family;
          font-size       : @slider-cover-font-size;
          font-weight     : @slider-cover-font-weight;
          text-align      : center;
          line-height     : @slider-cover-info-height;
        }
      }

      &.slider-item-main {
        background-color: @main-background-color;
        width           : 412px;

        @media (max-width: 767px) {
          width : @slider-cover-width-medium;
          height: @slider-cover-height-medium;
        }

        .slider-item-main-content,
        .slider-item-main-header {
          padding: 14px;
        }

        .slider-item-main-header {
          background-color: @secondary-color;
          @media (max-width: 767px) {
            padding: 6px 20px;
          }

          .category {
            max-width     : 70px;
            font-weight   : 600;
            color         : @primary-color;
            text-transform: uppercase;
            padding-right : 14px;
            border-right  : 1px solid @secondary-text-color;
            display       : inline-block;
            @media (max-width: 767px) {
              border-right: 0;
              max-width   : 100%;

            }

            span {
              display    : inline-block;
              line-height: 1.16;
            }
          }

          .product {
            display     : inline-block;
            padding-left: 14px;
            @media (max-width: 767px) {
              display: none;
            }

            h6 {
              font-size     : 16px;
              margin        : 0;
              text-transform: uppercase;
            }
          }
        }

        .slider-item-main-content {
          position: relative;
          color   : @b;

          @media (max-width: 767px) {
            padding         : 10px 15px;
            background-color: lighten(@secondary-color, 10);
          }

          .cover {
            display       : inline-block;
            vertical-align: top;
            position      : static;
            padding-right : 10px;
            cursor        : default;

            img {
              height: 184px;
              width : auto;

              @media (max-width: 767px) {
                height: 140px;
              }
            }
          }

          .description {
            display       : inline-block;
            vertical-align: top;
            padding       : 10px 10px 0;

            @media (max-width: 767px) {
              display: none;
            }

            .old-price,
            .price {
              display  : inline-block;
              font-size: 18px;
            }

            .price {
              color      : @secondary-color;
              font-weight: 600;
            }

            .old-price {
              color       : @grey;
              padding-left: 14px;
            }

            p {
              margin-bottom: 12px;
            }
            .mask {
                position:absolute;
                top:0;
                right:0;
                bottom:0;
                left:0;
                background-color:rgba(0,77,154,0.9);
                color:#ffffff;
                font-size:16px;
                padding:20px;
                text-align:center;
                display:none;
                z-index:5;
                .icon {
                    margin-bottom:30px;
                    margin-top:50px;
                    [class^="icon-"],[class*=" icon-"] {
                      border:3px solid #ffffff;
                      border-radius:50%;
                      padding:10px;
                      font-size:20px;
                    }
                }
              }
          }

          .info {
            position        : absolute;
            bottom          : 0;
            left            : 0;
            width           : @slider-cover-info-width;
            height          : @slider-cover-info-height;
            background-color: @slider-cover-info-background-color;
            color           : @slider-cover-color;
            font-family     : @slider-cover-font-family;
            font-size       : @slider-cover-font-size;
            font-weight     : @slider-cover-font-weight;
            text-align      : center;
            line-height     : @slider-cover-info-height;
          }
        }
      }
    }

    .slider-item + .slider-item {
      margin-left: 14px;
    }

    .slick-list {
      overflow-x    : visible;
      padding-top   : 14px;
      padding-bottom: 8px;
    }
  }
}

.slider + .slider {
  margin-top: @slider-margin;

  @media (max-width: 767px) {
    margin-top: 30px;
  }
}
