.tabbar {
  padding: 0 15px;
  display: flex;

  @media (max-width: 767px) {
    display    : block;
    overflow   : auto;
    white-space: nowrap;
  }

  .tabbar-item {
    flex-grow : 1;
    padding   : 0;
    text-align: left;

    @media (max-width: 767px) {
      display: inline-block;
    }

    .inner {
      display       : inline-block;
      padding-bottom: 10px;
    }

    a {
      font-weight    : 600;
      text-decoration: none;
      text-transform : uppercase;
      color          : @secondary-text-color;
      padding-bottom : 10px;
    }

    &.active,
    &:active,
    &:focus,
    &:hover {
      .inner {
        border-bottom: 3px solid @secondary-color;
      }

      a {
        color: @secondary-color;
      }
    }

    & + .tabbar-item {
      margin-left: 20px;
    }

    &:last-child {
      margin-right: 15px;
    }
  }
}
