table.table {
  background-color: @table-background-color;
  margin          : 0;

  thead {
    background-color: @table-head-background-color;
    color           : @table-head-color;

    th {
      font-weight   : @main-font-weight;
      padding       : @table-padding;
      vertical-align: middle;
      border-bottom : 0;

      @media (max-width: 767px) {
        text-align: center;
      }

      &:first-of-type {
        text-transform: uppercase;
        font-weight   : 600;
      }

      &:last-of-type {
        width  : 40px;
        padding: 0;

        @media (max-width: 991px) {
          width: 20px;
        }
      }
    }
  }

  tbody {
    tr {
      &.mag {
        td {
          padding       : @table-padding;
          vertical-align: middle;
          border-top    : 1px solid @lightgray;
          text-align    : center;

          @media (max-width: 767px) {
            position: relative;
          }

          &:first-of-type {
            text-align: left;

            @media (max-width: 767px) {
              display        : -webkit-flex;
              display        : -ms-flex;
              display        : flex;
              justify-content: space-around;
            }
          }

          .remove-mag {
            @media (max-width: 767px) {
              position: absolute;
              top     : 15px;
              right   : 0;
            }
          }

          @media (max-width: 991px) {
            padding-left: 0;
          }

          &:last-of-type {
            padding: 0 30px 0 0;
            @media (max-width: 991px) {
              padding: 0;
            }
          }

          .cover {
            display       : inline-block;
            vertical-align: top;

            img {
              height: 90px;
              width : auto;
            }
          }

          .description {
            display   : inline-block;
            padding   : 15px;
            text-align: left;

            @media (max-width: 767px) {
              padding: 0 0 0 10px;
            }

            h6 {
              margin        : 0;
              font-weight   : 600;
              text-transform: uppercase;
              font-size     : 16px;
              color         : @secondary-color;

              @media (max-width: 767px) {
                padding-right: 14px;
              }
            }

            p {
              margin        : 6px 0 0;
              font-style    : italic;
              font-size     : 12px;
              text-transform: uppercase;
              color         : @secondary-text-color;
            }

            p.more {
              position      : relative;
              padding-left  : 22px;
              text-transform: lowercase;
              font-style    : normal;

              &::before {
                font-family: 'carrefour-adl';
                content    : @icon-croix_hs;
                position   : absolute;
                left       : 0;
                top        : 10px;
              }
            }
          }

          .prices {
            margin-bottom: 8px;
            @media (max-width: 767px) {
              display        : flex !important;
              justify-content: space-between;
              align-items    : center;
              padding-top    : 10px;
            }
          }

          .old-price {
            font-size: 18px;
            color    : #bebebe;
          }

          .info {
            display         : inline-block;
            vertical-align  : top;
            width           : @slider-cover-info-width;
            height          : @slider-cover-info-height;
            background-color: @slider-cover-info-background-color;
            color           : @slider-cover-color;
            font-family     : @slider-cover-font-family;
            font-size       : @slider-cover-font-size;
            font-weight     : @slider-cover-font-weight;
            text-align      : center;
            line-height     : @slider-cover-info-height;
          }

          .new-price {
            display     : inline-block;
            padding-left: 15px;
            text-align  : left;

            .price {
              display    : block;
              color      : @secondary-color;
              font-size  : 18px;
              font-weight: 600;
            }
          }

          .icon-croix-popup {
            cursor: pointer;
          }
        }
      }

      &.gift {
        td {
          padding       : @table-padding;
          vertical-align: middle;
          border-top    : 1px solid @lightgray;

          @media (max-width: 767px) {
            padding: 15px 0;
          }

          &:last-of-type {
            padding-right: 30px;
          }

          .row {
            margin        : 0;
            vertical-align: middle;

            [class*="col-"] {
              padding: 0;

              &:first-of-type {
                .gift-img {
                  display: inline-block;

                  img {
                    height: 80px;
                    width : auto;

                    @media (max-width: 767px) {
                      max-width : 100px;
                      max-height: 100px;
                      height    : auto;
                      width     : auto;
                    }

                    @media (max-width: 374px) {
                      max-width: 80px;
                    }
                  }
                }
              }

              .gift-text {
                display       : inline-block;
                vertical-align: middle;
                max-width     : 160px;
                padding-left  : 30px;

                @media (max-width: 767px) {
                  padding-left: 0;
                }

                span {
                  text-transform: uppercase;
                  font-size     : 22px;
                  font-weight   : 600;
                  color         : @secondary-color;
                }
              }

              &.middle {
                padding: 12px 6px;

                @media (max-width: 767px) {
                  padding: 0 6px;
                }

                span {
                  margin     : 0;
                  font-size  : 20px;
                  line-height: 1.2;

                  @media (max-width: 767px) {
                    display: block;
                    padding: 2px 0;
                  }
                }

                .visible-sm {
                  span {
                    font-size: 14px;
                  }
                }
              }

              &:last-of-type {
                padding   : 30px 0 30px 20px;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
}
