.main-title {
  color      : @title-color;
  font-family: @title-font-family;
  font-weight: @title-font-weight;
  font-size  : @title-font-size;
  @media (max-width: 1199px) {
    font-size: 70px;
  }

  @media (max-width: 991px) {
    font-size: 41px;
  }
}

.main-subtitle {
  color      : @subtitle-color;
  font-family: @subtitle-font-family;
  font-weight: @subtitle-font-weight;
  font-size  : @subtitle-font-size;

  @media (max-width: 991px) {
    font-size: 27px;
    margin   : 10px 0 0;
  }
}
