/**
 * Main configurations
 */
@main-background-color             : #ffffff;
@secondary-background-color        : #f0f0f0;
@main-text-color                   : #ffffff;
@secondary-text-color              : #666666;

@primary-color                     : #004d9a;
@secondary-color                   : #00b1eb;
@tertiary-color                    : #63dada;
@info-color                        : #c40078;

@w                                 : #FFFFFF;
@lightgray                         : #d8d8d8;
@grey                              : #bebebe;
@gray                              : #868686;
@darkgray                          : #666666;
@b                                 : #000000;

/**
 * Typography
 */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i');
@main-font-family                  : 'Open Sans', sans-serif;
@main-font-weight                  : 400;
@main-font-size                    : 14px;

@icon-font-path                    : "../fonts";

@icon-carte                        : "\e900";
@icon-coche                        : "\e901";
@icon-croix_hs                     : "\e902";
@icon-croix-popup                  : "\e903";
@icon-croix                        : "\e904";
@icon-fleche                       : "\e905";
@icon-fleche2                      : "\e906";
@icon-num                          : "\e907";
@icon-panier                       : "\e908";
@icon-pin_tunnel_actif             : "\e909";
@icon-pin_tunnel                   : "\e90a";

/**
 * Titles
 */
@title-color                       : @primary-color;
@title-font-family                 : @main-font-family;
@title-font-weight                 : 600;
@title-font-size                   : 80px;

@subtitle-color                    : @secondary-color;
@subtitle-font-family              : @main-font-family;
@subtitle-font-weight              : @main-font-weight;
@subtitle-font-size                : 53px;

@heading-color                     : @main-text-color;
@heading-font-family               : @main-font-family;
@heading-font-weight               : @main-font-weight;
@heading-font-size                 : 22px;

/**
 * Buttons
 */
@button-text-color                 : @main-text-color;
@button-background-color           : #dd992e;
@button-background-color-hover     : #d58045;
@button-font-family                : @main-font-family;
@button-font-weight                : @main-font-weight;
@button-font-size                  : 16px;
@button-border                     : 1px solid transparent;
@button-border-radius              : 0;
@button-padding                    : 8px 50px;
@button-padding-small              : 4px 36px;

/**
* Headers
*/
@header-height                     : 85px;
@header-background-color           : @main-background-color;
@header-text-color                 : @gray;
@header-item-color                 : @lightgray;
@header-text-color-active          : @secondary-color;
@header-item-color-active          : @secondary-color;
@header-item-color-skip            : #eaeaea;
@header-font-weight                : 600;
@header-font-size                  : 13px;
@header-item-font-size             : 16px;
@header-item-border                : 3px solid @lightgray;
@header-item-border-active         : 3px solid @secondary-color;
@header-item-border-radius         : 50%;
@header-item-width                 : 32px;
@header-item-height                : 32px;

/**
 * Footers
 */
@footer-background                 : @main-background-color;
@footer-text-color                 : @secondary-text-color;
@footer-font-family                : @main-font-family;
@footer-font-weight                : @main-font-weight;
@footer-font-size                  : 11px;

/**
 * Forms
 */
@form-label-color                  : @main-text-color;
@form-label-color-active           : @secondary-color;
@form-label-font-family            : @main-font-family;
@form-label-font-weight            : @main-font-weight;
@form-label-font-size              : @main-font-size;
@form-label-font-size-active       : 12px;

@form-input-color                  : @main-text-color;
@form-input-background-color       : transparent;
@form-input-placeholder-color      : #c2cddf;
@form-input-border                 : none;
@form-input-border-color           : @main-text-color;
@form-input-border-radius          : 0;
@form-input-padding                : 0;

@form-error-color                  : #e35151;

/**
 * Lists
 */
@list-text-color                   : @primary-color;
@list-font-family                  : @main-font-family;
@list-font-weight                  : @main-font-weight;
@list-font-size                    : 16px;
@list-bullet-style                 : disc;
@list-bullet-color                 : @tertiary-color;
@list-bullet-size                  : 54px;

/**
 * Sliders
 */
@slider-header-color               : #1e213c;
@slider-secondary-color            : #007fc2;
@slider-header-font-family         : @main-font-family;
@slider-header-font-weight         : @main-font-weight;
@slider-header-font-size           : 16px;
@slider-margin                     : 50px;

@slider-cover-width                : 201px;
@slider-cover-height               : 276px;
@slider-cover-width-medium         : 140px;
@slider-cover-height-medium        : 192px;

@slider-overlay-width              : 212px;
@slider-overlay-height             : 290px;

@slider-cover-info-width           : 50px;
@slider-cover-info-height          : 50px;
@slider-cover-info-background-color: @info-color;
@slider-cover-color                : @main-text-color;
@slider-cover-font-family          : @main-font-family;
@slider-cover-font-weight          : 600;
@slider-cover-font-size            : 16px;

/**
 * Tables
 */
@table-background-color            : @main-background-color;
@table-head-background-color       : @secondary-color;
@table-head-color                  : @main-text-color;
@table-padding                     : 15px 0 15px 30px;