/* styles Air France Site mobile */
@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue LT Std 45 Light'), url('HelveticaNeueLTStd Lt.woff') format('woff');
}
@font-face {
  font-family: 'Helvetica 65 Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica 65 Medium'), url('HelveticaNeue-Medium.woff') format('woff');
}
@font-face {
  font-family: 'Helvetica Neue Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica Neue Bold'), url('HelveticaNeueBold.woff') format('woff');
}
.lighten-primary-color {
  background: #091d68;
}
.lighten-secondary-color {
  background: #15bdff;
}
.saturate-primary-color {
  background: #000d3e;
}
.lighten-saturate {
  background: #011870;
}
.box-sizing {
  box-sizing: border-box;
}
.border-top {
  border-top: 1px solid #eee;
}
.border-bottom {
  border-bottom: 1px solid #eee;
}
/* General Style */
.cartouche {
  padding: 5px 0 0;
  font-family: "Helvetica 65 Medium", Helvetica, Arial, sans-serif;
}
.cartouche > span {
  box-sizing: border-box;
  float: left;
  width: 50px;
  height: 50px;
  background-color: #fdd0a1;
  text-align: center;
  padding-top: 15px;
  color: #051039;
  line-height: 1;
}
.cartouche > span strong {
  line-height: 0.9;
  display: block;
  font-weight: 100;
}
.cartouche > span + span {
  background-color: #051039;
  padding: 0;
  color: white;
  font-size: 20px;
}
.cartouche > span small {
  font-size: 11px;
  display: block;
}
.cartouche > span.reduc {
  font-family: 'Helvetica Neue Bold', Helvetica, Arial, sans-serif;
  font-size: 22px;
}
.cartouche > span.reduc sup {
  font-size: 12px;
  top: -0.7em;
}
.cart {
  display: block;
  height: 36px;
  width: 30px;
  position: absolute;
  right: 3px;
  bottom: 0;
  background: transparent url('../images/picto-cart.png') no-repeat 0 0;
}
.cart span {
  background-color: #00a2e1;
  color: white;
  position: absolute;
  right: -5px;
  top: -1px;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  font-size: 10px;
  text-align: center;
  border-radius: 50%;
  border: 2px solid #f9f9f9;
  padding: 1px 1px 0 0;
}
/*Navbar*/
.navbar {
  position: absolute;
  border: none;
  z-index: 5;
  width: 65%;
}
.navbar .navbar-nav {
  margin: 5px 0;
}
.navbar .navbar-toggle {
  border: none;
}
.navbar .navbar-toggle:focus,
.navbar .navbar-toggle:hover {
  background: none;
}
.navbar .navbar-toggle .icon-bar {
  background-color: #051039;
}
.navbar-default {
  background-color: transparent;
}
.navbar-default .navbar-collapse {
  border: none;
  margin-left: -30px;
}
.navbar-default .navbar-nav {
  margin-top: 15px;
  position: relative;
  box-shadow: 0 0 8px #333;
}
.navbar-default .navbar-nav::before {
  position: absolute;
  top: -12px;
  left: 0;
  content: "";
  width: 0;
  height: 0;
  margin-left: 8%;
  border-style: solid;
  border-width: 0 11.5px 12px 11.5px;
  border-color: transparent transparent white transparent;
}
.navbar-default .navbar-nav li,
.navbar-default .navbar-nav .active {
  background-color: white;
  position: relative;
  height: 53px;
}
.navbar-default .navbar-nav li > a,
.navbar-default .navbar-nav .active > a {
  background-color: white;
  font-weight: bold;
  color: #060c2b;
  height: 100%;
  width: 85%;
  margin: auto;
  line-height: 2;
  padding-left: 30px;
  border-bottom: 1px solid #eee;
}
.navbar-default .navbar-nav li > a:hover,
.navbar-default .navbar-nav .active > a:hover {
  background: none;
  color: inherit;
}
.navbar-default .navbar-nav li > a::before,
.navbar-default .navbar-nav .active > a::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 5;
  top: 18px;
  left: 0;
  width: 13px;
  height: 13px;
  background-color: #fad5db;
}
.navbar-default .navbar-nav li > a.artdevivre::before,
.navbar-default .navbar-nav .active > a.artdevivre::before {
  background-color: #fff8b2;
}
.navbar-default .navbar-nav li > a.actualite::before,
.navbar-default .navbar-nav .active > a.actualite::before {
  background-color: #b3ded3;
}
.navbar-default .navbar-nav li > a.viepratique::before,
.navbar-default .navbar-nav .active > a.viepratique::before {
  background-color: #c9cdde;
}
.navbar-default .navbar-nav li > a.loisir::before,
.navbar-default .navbar-nav .active > a.loisir::before {
  background-color: #fdd0a1;
}
.navbar-default .navbar-nav li > a.jeunesse::before,
.navbar-default .navbar-nav .active > a.jeunesse::before {
  background-color: #b1daed;
}
/*Fin Navbar*/
body {
  color: #000;
  font-family: "Helvetica 65 Medium", Helvetica, Arial, sans-serif;
  background-color: #f9f9f9;
  /* pages confirmationsFin */
}
body .container {
  max-width: 335px;
  box-sizing: border-box;
}
body .btn {
  padding: 10px 12px;
  border-radius: 0;
  font-weight: bold;
  font-size: 14px;
  width: 100%;
  border: 2px solid #00a2e1;
  color: #00a2e1;
  background-color: white;
}
body .btn:hover {
  color: #051039;
  border-color: #051039;
}
body .btn-primary {
  background-color: #051039;
  border: none;
  margin: 0 auto;
  font-size: 16px;
  color: white;
}
body .btn-primary:hover {
  background: #011870;
  color: white;
}
body > header {
  max-width: 100%;
  margin: 0 auto;
}
body > header .header-top {
  background-color: white;
  box-shadow: 0px 0px 3px #898989;
  margin-bottom: 15px;
}
body > header .header-top .container {
  padding: 0;
}
body > header .header-top::after {
  content: "";
  display: block;
  clear: both;
}
body > header .header-top h1,
body > header .header-top h2 {
  font-size: 28px;
  display: inline;
  margin: 5px 0 10px;
  float: left;
}
body > header .header-top h2 {
  float: right;
}
body > header .header-bottom {
  clear: both;
  text-align: center;
}
body > header .header-bottom .container {
  padding: 0;
  position: relative;
}
body > header .header-bottom p {
  font-size: 16px;
  margin-bottom: 4px;
}
body > header .header-bottom p.fblue-number {
  font-size: 12px;
}
body > header .header-bottom p.fblue-number span {
  font-weight: bold;
}
body > header .header-bottom .search-btn {
  position: absolute;
  right: 50px;
  bottom: 8px ;
  height: 23px;
  width: 23px;
  background: transparent url('../images/picto-search.png') no-repeat 0 0;
}
body > header .header-bottom .search-form {
  display: none;
  position: absolute;
  z-index: 5;
  padding: 5px 20px 20px;
  top: 60px;
  background-color: white;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 -1px 5px #9e9e9e;
}
body > header .header-bottom .search-form label {
  color: #051039;
}
body > header .header-bottom .search-form.open {
  display: block;
}
body > header .header-bottom .search-form::before {
  content: "";
  display: block;
  position: absolute;
  top: -12px;
  right: 25px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 11px 12px 11px;
  border-color: transparent transparent #ffffff transparent;
}
body > header .header-bottom .search-form input {
  border: none;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 2px solid #00a2e1;
}
body > header .header-bottom .search-form::after {
  content: "";
  display: block;
  clear: both;
}
body main {
  margin-top: 10px;
  text-align: center;
}
body main header {
  background-color: #00a2e1;
  color: white;
  padding: 15px;
  height: 98px;
}
body main header h2,
body main header h3 {
  font-family: 'Helvetica Neue Bold', Helvetica, Arial, sans-serif;
  margin: 0 0 10px;
  font-size: 14px;
  font-weight: bold;
}
body main header p {
  font-size: 16px;
  line-height: 1.2;
}
body main header::after {
  content: "";
  width: 0;
  height: 0;
  display: inline-block !important;
  margin-bottom: -4px;
  text-align: center;
  border-style: solid;
  border-width: 10px 10px 0 10px;
  border-color: #00a1e1 transparent transparent transparent;
  line-height: 0px;
  _border-color: #00a1e1 #000000 #000000 #000000;
  _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');
}
body main .content {
  max-width: 335px;
  margin: auto;
}
body main .content .container {
  background: #00a2e1 url('../images/bg_maldives.jpg') no-repeat bottom center;
  margin-bottom: 25px;
}
body main .content .container ul {
  padding: 0;
  margin-bottom: 25px;
}
body main .content .container ul li {
  list-style: none;
  background-color: #fdd0a1;
  color: #051039;
  font-size: 11px;
  width: 70px;
  height: 70px;
  box-sizing: border-box;
  padding-top: 10px;
}
body main .content .container ul li strong {
  font-family: 'Helvetica Neue Bold', Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  display: block;
  line-height: 1;
}
body main .content .container ul li + li {
  padding-top: 0;
  color: white;
  background-color: #051039;
}
body main .content h1 {
  font-family: 'Helvetica Neue Bold', Helvetica, Arial, sans-serif;
  font-size: 28px;
  color: white;
  margin-top: 0;
  padding-bottom: 175px;
}
body main .content h1 strong {
  display: block;
  font-size: 42px;
}
body main.quizz .content .container,
body main.selection .content .container {
  padding-top: 120px;
  padding-bottom: 11px;
  background-image: url('../images/bg_quizz0.jpg');
}
body main.quizz.quizz1 > .container,
body main.selection.quizz1 > .container,
body main.quizz.quizz2 > .container,
body main.selection.quizz2 > .container,
body main.quizz.quizz3 > .container,
body main.selection.quizz3 > .container {
  position: relative;
}
body main.quizz.quizz1 > .container::after,
body main.selection.quizz1 > .container::after,
body main.quizz.quizz2 > .container::after,
body main.selection.quizz2 > .container::after,
body main.quizz.quizz3 > .container::after,
body main.selection.quizz3 > .container::after {
  position: absolute;
  bottom: -6px;
  left: 47%;
}
body main.quizz.quizz1 > .container p,
body main.selection.quizz1 > .container p,
body main.quizz.quizz2 > .container p,
body main.selection.quizz2 > .container p,
body main.quizz.quizz3 > .container p,
body main.selection.quizz3 > .container p {
  font-size: 22px;
}
body main.quizz.quizz1 .content .container,
body main.selection.quizz1 .content .container,
body main.quizz.quizz2 .content .container,
body main.selection.quizz2 .content .container,
body main.quizz.quizz3 .content .container,
body main.selection.quizz3 .content .container {
  background-image: none;
  background-color: white;
  padding: 0;
}
body main.quizz.quizz1 .content .container ul,
body main.selection.quizz1 .content .container ul,
body main.quizz.quizz2 .content .container ul,
body main.selection.quizz2 .content .container ul,
body main.quizz.quizz3 .content .container ul,
body main.selection.quizz3 .content .container ul {
  clear: both;
  margin-bottom: 0;
}
body main.quizz.quizz1 .content .container ul:after,
body main.selection.quizz1 .content .container ul:after,
body main.quizz.quizz2 .content .container ul:after,
body main.selection.quizz2 .content .container ul:after,
body main.quizz.quizz3 .content .container ul:after,
body main.selection.quizz3 .content .container ul:after {
  content: "";
  clear: both;
  display: block;
  margin-bottom: 0;
}
body main.quizz.quizz1 .content .container ul li,
body main.selection.quizz1 .content .container ul li,
body main.quizz.quizz2 .content .container ul li,
body main.selection.quizz2 .content .container ul li,
body main.quizz.quizz3 .content .container ul li,
body main.selection.quizz3 .content .container ul li {
  padding: 0;
  width: 50%;
  max-width: 165px;
  height: 300px;
  float: left;
  background: url('../images/quiz1a.jpg') top center no-repeat;
  box-sizing: border-box;
}
body main.quizz.quizz1 .content .container ul li a,
body main.selection.quizz1 .content .container ul li a,
body main.quizz.quizz2 .content .container ul li a,
body main.selection.quizz2 .content .container ul li a,
body main.quizz.quizz3 .content .container ul li a,
body main.selection.quizz3 .content .container ul li a {
  height: 100%;
  display: block;
  padding-top: 210px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  text-align: center;
}
body main.quizz.quizz1 .content .container ul li a::after,
body main.selection.quizz1 .content .container ul li a::after,
body main.quizz.quizz2 .content .container ul li a::after,
body main.selection.quizz2 .content .container ul li a::after,
body main.quizz.quizz3 .content .container ul li a::after,
body main.selection.quizz3 .content .container ul li a::after {
  content: url('../images/heart.png');
  padding: 13px 0;
  display: block;
  background-color: white;
  width: 46px;
  height: 46px;
  margin: 2px auto;
  box-sizing: border-box;
  border-radius: 50%;
}
body main.quizz.quizz1 .content .container ul li + li,
body main.selection.quizz1 .content .container ul li + li,
body main.quizz.quizz2 .content .container ul li + li,
body main.selection.quizz2 .content .container ul li + li,
body main.quizz.quizz3 .content .container ul li + li,
body main.selection.quizz3 .content .container ul li + li {
  float: right;
  background-image: url('../images/quiz1b.jpg');
}
body main.quizz.quizz1 .content .progress_bar,
body main.selection.quizz1 .content .progress_bar,
body main.quizz.quizz2 .content .progress_bar,
body main.selection.quizz2 .content .progress_bar,
body main.quizz.quizz3 .content .progress_bar,
body main.selection.quizz3 .content .progress_bar {
  clear: both;
  margin-bottom: 20px;
}
body main.quizz.quizz2 .content .container ul li,
body main.selection.quizz2 .content .container ul li {
  background-image: url('../images/quiz2a.jpg');
}
body main.quizz.quizz2 .content .container ul li + li,
body main.selection.quizz2 .content .container ul li + li {
  background-image: url('../images/quiz2b.jpg');
}
body main.quizz.quizz3 .content .container ul li,
body main.selection.quizz3 .content .container ul li {
  background-image: url('../images/quiz3a.jpg');
}
body main.quizz.quizz3 .content .container ul li + li,
body main.selection.quizz3 .content .container ul li + li {
  background-image: url('../images/quiz3b.jpg');
}
body main.selection header {
  height: 78px;
}
body main.selection .content .container {
  background: none;
  padding: 25px 0 0;
  margin-bottom: 30px;
}
body main.selection .content .container .mags-list {
  margin-bottom: 0;
  position: relative;
}
body main.selection .content .container .mags-list::after {
  content: "";
  display: block;
  clear: both;
}
body main.selection .content .container .mags-list li {
  display: block;
  display: none;
  background: none;
  width: 160px;
  height: 206px;
  height: auto;
  float: left;
  padding: 0;
  margin-bottom: 61px;
}
body main.selection .content .container .mags-list li:nth-child(even) {
  float: right;
}
body main.selection .content .container .mags-list li:nth-child(even)::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #cac5cf;
  position: absolute;
  left: 0;
  right: 0;
  margin: 30px 0;
}
body main.selection .content .container .mags-list li:nth-child(even):last-child::after {
  content: none;
  background: none;
}
body main.selection .content .container .mags-list li figure {
  position: relative;
}
body main.selection .content .container .mags-list li figure img {
  width: 160px;
  height: 206px;
}
body main.selection .content .container .mags-list li figure figcaption > span {
  box-sizing: border-box;
  display: block;
  width: 50px;
  height: 50px;
  background-color: #fdd0a1;
  position: absolute;
  right: 50px;
  bottom: 0;
  text-align: center;
  padding-top: 15px;
  color: #051039;
  line-height: 1;
}
body main.selection .content .container .mags-list li figure figcaption > span strong {
  line-height: 1;
}
body main.selection .content .container .mags-list li figure figcaption > span + span {
  right: 0;
  background-color: #051039;
  padding: 0;
  color: white;
  font-size: 20px;
}
body main.selection .content .container .mags-list li figure figcaption > span small {
  font-size: 11px;
  display: block;
}
body main.selection .content .container .mags-list li figure figcaption > span.reduc {
  font-family: 'Helvetica Neue Bold', Helvetica, Arial, sans-serif;
  font-size: 22px;
}
body main.selection .content .container .mags-list li figure figcaption > span.reduc sup {
  font-size: 12px;
  top: -0.7em;
}
body main.selection .content .container .mags-list li h4 {
  text-transform: uppercase;
  color: #00a2e1;
  font-size: 18px;
  margin-bottom: 0;
}
body main.selection .content .container .mags-list li p {
  font-size: 12px;
  color: #051039;
}
body main.selection .content .container .mags-list li img {
  box-shadow: 0 4px 5px #bbb;
}
body main.selection .content .container .mags-list li .btn {
  margin: auto;
  width: 85%;
  font-size: 14px;
  padding: 6px 0;
}
body main.selection .content .container .button {
  background-color: #f9f9f9;
  position: relative;
  z-index: 3;
  margin-top: -50px;
}
body main.selection .content .container .button .btn {
  width: 50%;
  margin-top: -40px;
}
body main .main-bottom,
body main .main-footer {
  background-color: white;
  box-shadow: 0px 0px 5px #eee;
  margin-bottom: 30px;
  padding-bottom: 40px;
}
body main .main-bottom::after,
body main .main-footer::after {
  content: "";
  display: block;
  clear: both;
}
body main .main-bottom section,
body main .main-footer section {
  max-width: 375px;
  margin: auto;
  padding: 40px 20px 20px;
  /* panier */
}
body main .main-bottom section h2,
body main .main-footer section h2 {
  margin: 0;
  font-size: 22px;
  font-family: 'Helvetica Neue Bold', Helvetica, Arial, sans-serif;
}
body main .main-bottom section .closeCart,
body main .main-footer section .closeCart {
  text-decoration: underline;
  color: #696e88;
  font-size: 12px;
}
body main .main-bottom section.catalogue ul,
body main .main-footer section.catalogue ul {
  margin-top: 15px;
  padding: 0;
}
body main .main-bottom section.catalogue ul li,
body main .main-footer section.catalogue ul li {
  margin-bottom: 15px;
  display: block;
  float: left;
  height: 160px;
  width: 160px;
  box-sizing: border-box;
  color: white;
  text-shadow: 0 0 3px #212121;
  font-family: 'Helvetica Neue Bold', Helvetica, Arial, sans-serif;
  background: url('../images/thumb-feminin.jpg') no-repeat 0 0;
}
body main .main-bottom section.catalogue ul li:nth-child(even),
body main .main-footer section.catalogue ul li:nth-child(even) {
  float: right;
}
body main .main-bottom section.catalogue ul li.artdevivre,
body main .main-footer section.catalogue ul li.artdevivre {
  background-image: url('../images/thumb-artdevivre.jpg');
}
body main .main-bottom section.catalogue ul li.actualite,
body main .main-footer section.catalogue ul li.actualite {
  background-image: url('../images/thumb-actualite.jpg');
}
body main .main-bottom section.catalogue ul li.viepratique,
body main .main-footer section.catalogue ul li.viepratique {
  background-image: url('../images/thumb-viepratique.jpg');
}
body main .main-bottom section.catalogue ul li.loisirs,
body main .main-footer section.catalogue ul li.loisirs {
  background-image: url('../images/thumb-loisir.jpg');
}
body main .main-bottom section.catalogue ul li.jeunesse,
body main .main-footer section.catalogue ul li.jeunesse {
  background-image: url('../images/thumb-jeunesse.jpg');
}
body main .main-bottom section.catalogue ul li a,
body main .main-footer section.catalogue ul li a {
  padding-top: 20px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 100%;
  color: white;
  font-family: 'Helvetica Neue Bold', Helvetica, Arial, sans-serif;
  font-size: 20px;
}
body main .main-bottom section.catalogue ul li a:hover,
body main .main-footer section.catalogue ul li a:hover {
  text-decoration: none;
}
body main .main-bottom section.panier,
body main .main-footer section.panier {
  padding-bottom: 0;
}
body main .main-bottom section.panier .panier-content,
body main .main-footer section.panier .panier-content {
  margin-top: 30px;
}
body main .main-bottom section.panier .panier-content ul,
body main .main-footer section.panier .panier-content ul {
  border-top: 1px solid #eee;
  padding: 0;
  margin-bottom: 30px;
}
body main .main-bottom section.panier .panier-content ul::after,
body main .main-footer section.panier .panier-content ul::after {
  content: "";
  display: block;
  clear: both;
}
body main .main-bottom section.panier .panier-content ul li,
body main .main-footer section.panier .panier-content ul li {
  list-style: none;
  padding: 15px 0;
  border-bottom: 1px solid #eee;
}
body main .main-bottom section.panier .panier-content ul li::after,
body main .main-footer section.panier .panier-content ul li::after {
  content: "";
  display: block;
  clear: both;
}
body main .main-bottom section.panier .panier-content ul li figure,
body main .main-footer section.panier .panier-content ul li figure {
  max-width: 100px;
  position: relative;
  padding: 0;
  margin-right: 10px;
}
body main .main-bottom section.panier .panier-content ul li figure img,
body main .main-footer section.panier .panier-content ul li figure img {
  max-width: 100%;
  min-height: 127px;
  box-shadow: 0 0 5px #888;
}
body main .main-bottom section.panier .panier-content ul li figure figcaption,
body main .main-footer section.panier .panier-content ul li figure figcaption {
  position: absolute;
  top: 5px;
  line-height: 1.2;
  font-size: 14px;
  color: white;
}
body main .main-bottom section.panier .panier-content ul li figure figcaption strong,
body main .main-footer section.panier .panier-content ul li figure figcaption strong {
  font-size: 20px;
  display: inline-block;
}
body main .main-bottom section.panier .panier-content ul li .removeItem,
body main .main-footer section.panier .panier-content ul li .removeItem {
  font-size: 16px;
}
body main .main-bottom section.panier .panier-content ul li p.hs,
body main .main-footer section.panier .panier-content ul li p.hs {
  clear: both;
  line-height: 1;
  padding-top: 10px;
}
body main .main-bottom section.panier .panier-content ul li p.hs small,
body main .main-footer section.panier .panier-content ul li p.hs small {
  font-size: 75%;
}
body main .main-bottom section.panier .panier-content ul li div,
body main .main-footer section.panier .panier-content ul li div {
  padding: 5px 0 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body main .main-bottom section.panier .panier-content ul li div + div,
body main .main-footer section.panier .panier-content ul li div + div {
  padding-top: 35px;
}
body main .main-bottom section.panier .panier-content ul li div p,
body main .main-footer section.panier .panier-content ul li div p {
  font-size: 20px;
  line-height: .9;
  font-weight: 100;
  color: #00a2e1;
  margin-bottom: 0;
}
body main .main-bottom section.panier .panier-content ul li div p.price span,
body main .main-footer section.panier .panier-content ul li div p.price span {
  display: block;
  margin-top: 10px;
  line-height: 1.2;
}
body main .main-bottom section.panier .panier-content ul li div p strong,
body main .main-footer section.panier .panier-content ul li div p strong {
  font-family: 'Helvetica Neue Bold', Helvetica, Arial, sans-serif;
  color: #00a2e1;
  font-size: 14px;
  line-height: 1;
}
body main .main-bottom section.panier .panier-content ul li div p strong span,
body main .main-footer section.panier .panier-content ul li div p strong span {
  text-transform: none;
  display: block;
  font-size: 11px;
  line-height: 1.6;
  font-weight: 600;
  color: #00a2e1;
}
body main .main-bottom section.panier .panier-content ul li div p.mag-title strong,
body main .main-footer section.panier .panier-content ul li div p.mag-title strong {
  text-transform: uppercase;
}
body main .main-bottom section.panier .panier-content ul li div p span,
body main .main-footer section.panier .panier-content ul li div p span {
  color: #051039;
  font-family: "Helvetica 65 Medium", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-weight: 100;
  line-height: 1;
}
body main .main-bottom section.panier .panier-content ul li.gain div,
body main .main-footer section.panier .panier-content ul li.gain div {
  padding-top: 40px;
}
body main .main-bottom section.panier .panier-content ul li.gain div + div,
body main .main-footer section.panier .panier-content ul li.gain div + div {
  padding-top: 60px;
}
body main .main-bottom section.panier .panier-content ul li:last-child figure img,
body main .main-footer section.panier .panier-content ul li:last-child figure img {
  box-shadow: none;
}
body main .main-bottom section.panier .panier-content p,
body main .main-footer section.panier .panier-content p {
  line-height: 1.1;
}
body main .main-bottom section.panier .panier-content p small,
body main .main-footer section.panier .panier-content p small {
  font-size: 75%;
}
body main .main-bottom section.panier .panier-content .container-btn .btn,
body main .main-footer section.panier .panier-content .container-btn .btn {
  margin: 15px 0 0;
}
body main .main-bottom section.adress-form form,
body main .main-footer section.adress-form form {
  border-top: 1px solid #eee;
  padding: 15px 0 25px;
}
body main .main-bottom section.adress-form form::after,
body main .main-footer section.adress-form form::after {
  content: "";
  display: block;
  float: none;
  clear: both;
}
body main .main-bottom section.adress-form form div,
body main .main-footer section.adress-form form div {
  position: relative;
  padding: 0;
}
body main .main-bottom section.adress-form form div label,
body main .main-footer section.adress-form form div label {
  color: #00a2e1;
  margin: 0;
  line-height: 1;
}
body main .main-bottom section.adress-form form div input,
body main .main-footer section.adress-form form div input {
  border: none;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 2px solid #00a2e1;
  margin: 0 0 20px;
  padding: 1px 5px;
  color: #051039;
}
body main .main-bottom section.adress-form form div::after,
body main .main-footer section.adress-form form div::after {
  content: "";
  display: block;
  clear: both;
}
body main .main-bottom section.description figure,
body main .main-footer section.description figure {
  position: relative;
  width: 217px;
  height: 283px;
  margin: 0 auto 50px;
}
body main .main-bottom section.description figure img,
body main .main-footer section.description figure img {
  width: 217px;
  height: 283px;
  box-shadow: 0 0 8px #555;
}
body main .main-bottom section.description figure figcaption > span,
body main .main-footer section.description figure figcaption > span {
  box-sizing: border-box;
  display: block;
  width: 50px;
  height: 50px;
  background-color: #fdd0a1;
  position: absolute;
  right: 50px;
  bottom: 0;
  text-align: center;
  padding-top: 15px;
  color: #051039;
  line-height: 1;
}
body main .main-bottom section.description figure figcaption > span strong,
body main .main-footer section.description figure figcaption > span strong {
  line-height: 0.9;
  display: block;
}
body main .main-bottom section.description figure figcaption > span + span,
body main .main-footer section.description figure figcaption > span + span {
  right: 0;
  background-color: #051039;
  padding: 0;
  color: white;
  font-size: 20px;
}
body main .main-bottom section.description figure figcaption > span small,
body main .main-footer section.description figure figcaption > span small {
  font-size: 11px;
  display: block;
}
body main .main-bottom section.description figure figcaption > span.reduc,
body main .main-footer section.description figure figcaption > span.reduc {
  font-family: 'Helvetica Neue Bold', Helvetica, Arial, sans-serif;
  font-size: 22px;
}
body main .main-bottom section.description figure figcaption > span.reduc sup,
body main .main-footer section.description figure figcaption > span.reduc sup {
  font-size: 12px;
  top: -0.7em;
}
body main .main-bottom section.description figure figcaption .num-version,
body main .main-footer section.description figure figcaption .num-version {
  position: absolute;
  left: -25px;
  bottom: -20px;
  width: 122px;
  height: 172px;
  background: url("../images/bg-tablet.png") no-repeat 0 0;
  z-index: 4;
  box-sizing: border-box;
  padding-top: 12px;
}
body main .main-bottom section.description figure figcaption .num-version img,
body main .main-footer section.description figure figcaption .num-version img {
  width: 114px;
  height: 148px;
}
body main .main-bottom section.description figure figcaption .num-version > span,
body main .main-footer section.description figure figcaption .num-version > span {
  box-sizing: border-box;
  padding-top: 3px;
  height: 34px;
  display: block;
  position: absolute;
  background-color: #b1daed;
  bottom: 12px;
  left: 4px;
  right: 4px;
  font-size: 11px;
  line-height: 1.2;
}
body main .main-bottom section.description figure figcaption .num-version > span span,
body main .main-footer section.description figure figcaption .num-version > span span {
  font-size: 14px;
}
body main .main-bottom section.description .details,
body main .main-footer section.description .details {
  width: 195px;
  margin: 0 auto;
}
body main .main-bottom section.description .details .mag-title,
body main .main-footer section.description .details .mag-title {
  font-size: 20px;
  font-family: 'Helvetica Neue Bold', Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  color: #00a2e1;
}
body main .main-bottom section.description .details .mag-period,
body main .main-footer section.description .details .mag-period,
body main .main-bottom section.description .details .old-price,
body main .main-footer section.description .details .old-price,
body main .main-bottom section.description .details .future-price,
body main .main-footer section.description .details .future-price {
  text-transform: capitalize;
  color: #051039;
  font-size: 12px;
  margin: 0;
  clear: both;
}
body main .main-bottom section.description .details .new-price,
body main .main-footer section.description .details .new-price {
  color: #00a2e1;
  text-align: left;
  line-height: 1.4;
}
body main .main-bottom section.description .details .new-price strong,
body main .main-footer section.description .details .new-price strong {
  font-size: 40px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  float: left;
  margin-right: 10px;
}
body main .main-bottom section.description .details .new-price strong sup,
body main .main-footer section.description .details .new-price strong sup {
  top: -17px;
  font-size: 18px;
}
body main .main-bottom section.description .details .new-price span,
body main .main-footer section.description .details .new-price span {
  font-size: 12px;
  display: inline-block;
  padding-top: 10px;
}
body main .main-bottom section.description .details .container-btn,
body main .main-footer section.description .details .container-btn {
  margin-top: 20px;
  width: 100%;
}
body main .main-footer {
  background: none;
  box-shadow: none;
}
body main .main-footer section {
  padding-top: 0;
  position: relative;
  border-bottom: 1px solid #eee;
}
body main .main-footer section::after {
  content: "";
  display: block;
  clear: both;
}
body main .main-footer section h2 {
  margin-bottom: 10px;
}
body main .main-footer section .details {
  width: 75%;
}
body main .main-footer section .details h3 {
  margin: 10px 0 5px;
  font-size: 14px;
  font-weight: 600;
  color: #00a2e1;
  line-height: 1;
  font-family: 'Helvetica Neue Bold', Helvetica, Arial, sans-serif;
}
body main .main-footer section .details p {
  color: #051039;
  font-size: 11px;
  line-height: 1.3;
  margin-bottom: 1px;
}
body main .main-footer section .details p span {
  color: #00a2e1;
}
body main .main-footer section figure {
  float: left;
  width: 102px;
  margin-right: 15px;
}
body main .main-footer section figure img {
  width: 100%;
}
body main .main-footer section .cart {
  position: absolute;
  right: 20px;
  top: 45%;
  height: 46px;
  width: 46px;
  border: 2px solid #051039;
  box-sizing: border-box;
  background-position: center center;
}
body main .main-footer section .cart a {
  width: 100%;
  height: 100%;
  display: block;
}
body main .main-footer section .cart a span {
  background-color: #051039;
  right: 4px;
  top: 5px;
  padding: 0;
}
body main .main-footer section.aditionnal-list {
  padding-bottom: 0;
  border-bottom: none;
}
body main .main-footer section.aditionnal-list ul {
  padding: 20px 0 0;
}
body main .main-footer section.aditionnal-list ul::after {
  content: "";
  display: block;
  clear: both;
}
body main .main-footer section.aditionnal-list ul li {
  list-style: none;
  padding: 0;
  text-align: center;
}
body main .main-footer section.aditionnal-list ul li figure {
  text-align: center;
  float: none;
  margin: 0 auto;
}
body main .main-footer section.aditionnal-list ul li figure .cartouche {
  padding: 0;
  z-index: 5;
  margin-top: -25px;
  position: absolute;
  background-color: #051039;
  width: 102px;
}
body main .main-footer section.aditionnal-list ul li figure .cartouche > span + span {
  float: right;
}
body main .main-footer section.aditionnal-list ul li h4 {
  clear: both;
  padding-top: 30px;
  color: #00a2e1;
  font-size: 14px;
  font-weight: 600;
}
body main .main-footer section.aditionnal-list ul li p {
  color: #00a2e1;
  font-size: 11px;
  font-weight: 300;
  line-height: 1.2;
}
body main .container-btn {
  padding: 0;
}
body main .container-btn .btn {
  margin: 0 0 20px;
  width: 100%;
}
body main .totop {
  margin: 0;
}
body main .totop a {
  color: #051039;
}
body.home .content .container {
  padding: 20px;
}
body main .endPage {
  max-width: 100%;
}
body main .endPage ul {
  padding: 0;
}
body main .endPage ul li {
  padding: 40px 15px;
  list-style: none;
  background-color: #f0f0f0;
}
body main .endPage ul li:nth-child(2) {
  background-color: #b3d4fc;
}
body main .endPage ul li h3 {
  color: #00a2e1;
  font-size: 24px;
  margin-bottom: 10px;
  line-height: 1.3;
}
body main .endPage ul li span {
  color: black;
  font-size: 16px;
}
body main .endPage ul li .btn {
  margin-top: 15px;
  width: 90%;
  font-weight: 300;
}
body main .endPage .round-icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 auto;
  background-color: #002156;
  box-sizing: border-box;
  padding-top: 15px;
}
body main .endPage .round-icon.offreMag {
  background-color: white;
}
body main .endPage .round-icon .glyphicon {
  color: white;
  font-size: 30px;
}
body main .endPage .round-icon .glyphicon.glyphicon-remove {
  color: red;
}
body footer {
  margin-top: 25px;
  border-top: 1px solid #eee;
  padding-top: 10px;
  background-color: white;
}
body footer .container {
  padding: 0;
}
body footer p {
  padding: 20px 0;
  color: #696e88;
  font-size: 11px;
  text-align: justify;
}
body footer ul {
  padding: 25px 0;
  clear: both;
  background-color: #051039;
  margin: 0;
}
body footer ul li {
  list-style: none;
  color: white;
  font-size: 12px;
  line-height: 2;
}
body footer ul li a {
  color: white;
}
body footer ul li a:hover {
  color: white;
  text-decoration: underline;
}
body footer .modal-dialog p {
  font-size: 18px;
}
body.end main .content h1 {
  padding-bottom: 200px;
}
/*# sourceMappingURL=styles.css.map */

/** New Style **/

.home-container h1 {
  color: black !important;
}

.home-container h1 strong:last-of-type{
  padding-bottom: 41px;
}

.home-container h1 strong {
  font-size: 37px !important;
}

.container-quiz0 {
  width:100%;
  height: 50px;
}

body main.selection .content .container .mags-list li figure figcaption > span, body main .main-bottom section.description figure figcaption > span, body main .main-footer section.description figure figcaption > span {
    right: 0;
}

body > header .header-bottom .search-btn {
    bottom: 13px;
}

.cart {
    bottom: 6px;
}

body {
  font-family: 'Open Sans', sans-serif !important;
}

body > header .header-top h1, body > header .header-top h2 {
  margin: 12px 0 10px;
}
header.header-2-line::after {
  margin-bottom: -10px !important;
}

header.header-3-line::after {
  margin-bottom: -4px !important;
}

body main header::after {
  border-color: #004d9a transparent transparent transparent; !important;
  margin-bottom: -18px;
}
body main header {
  background-color: #004d9a !important;
  font-weight: 400;
}

body main header h3{
  font-weight: 400;
}

.reduc {
  background-color: #c30078 !important;
}

body .btn-primary {
  background-color: #dd992e !important;
  font-weight: 600;
  color: white !important;
}

body .btn {
  border: 2px solid #dd992e;
  background-color: white;
  color: #dd992e;
}

body main .main-bottom section.catalogue ul li a, body main .main-footer section.catalogue ul li a {
  font-weight: 400;
}

body footer ul {
  background-color: #004d9a !important;
}

.cart {
  cursor: pointer;
}

.content-quiz0 {
  padding-top: 118px !important;
  background-image: url('../images/bg_quizz0_1.jpg') !important;
}

.logo {
  width: 130px;
}

.quiz0-edition-numerique {
  background-color: #31bdeb !important;
}

.quizz1 .container ul li:first-of-type {
  background: url(../images/quizz1a_1.jpg) top center no-repeat !important;
}

.quizz1 .container ul li:last-of-type {
  background: url(../images/quizz1b_1.jpg) top center no-repeat !important;
}

.quizz2 .container ul li:first-of-type {
  background: url(../images/quizz2a_1.jpg) top center no-repeat !important;
}

.quizz2 .container ul li:last-of-type {
  background: url(../images/quizz2b_1.jpg) top center no-repeat !important;
}

.quizz3 .container ul li:first-of-type {
  background: url(../images/quizz3a_1.jpg) top center no-repeat !important;
}

.quizz3 .container ul li:last-of-type {
  background: url(../images/quizz3b_1.jpg) top center no-repeat !important;
}

body main .main-footer section.aditionnal-list.panier-2 ul li figure .cartouche {
  width: 55px !important;
  background-color: transparent !important;
  margin-top:-50px !important;
  right: 0;
}

body main .content .home-container {
  background: #00a2e1 url(../images/bg.jpg) no-repeat bottom center !important;
}

.gain img {
  box-shadow: none !important;
}

.content-quiz0 ul li:first-of-type {
  background-color: #C30078 !important;
  color: white !important;
}