footer.footer {
  background-color: @footer-background;

  .inner {
    ul {
      list-style-type: none;
      text-align     : center;
      padding        : 20px 0;

      li {
        display: inline-block;

        @media (max-width: 767px) {
          display: block;
        }

        a {
          color         : @footer-text-color;
          font-family   : @footer-font-family;
          font-weight   : @footer-font-weight;
          font-size     : @footer-font-size;
          text-transform: uppercase;
        }
      }

      li+li {
        margin-left: 20px;
        @media (max-width: 767px) {
          margin: 6px 0 0;
        }
      }
    }
  }
}
