header.header {
  height          : @header-height;
  background-color: @header-background-color;
  padding         : 17px 0;

  .left {
    float: left;
  }

  .right {
    float: right;

    .breadcrumb {
      padding         : 0;
      margin          : 0;
      border-radius   : 0;
      background-color: @header-background-color;
      color           : @header-text-color;
      font-weight     : @header-font-weight;
      font-size       : @header-font-size;
      margin-right    : -36px;

      .item {
        display   : inline-block;
        text-align: center;
        min-width : 160px;

        .number {
          margin-bottom: 4px;
          position     : relative;

          .inner {
            width           : @header-item-width;
            height          : @header-item-height;
            display         : inline-block;
            border          : @header-item-border;
            border-radius   : @header-item-border-radius;
            background-color: @header-background-color;
            z-index         : 10;
            position        : relative;

            span {
              font-size     : @header-item-font-size;
              color         : @header-item-color;
              vertical-align: text-top;
            }

            .triangle {
              width       : 0;
              height      : 0;
              border-style: solid;
              border-width: 8px 5px 0 7px;
              border-color: @header-item-color transparent transparent transparent;
              display     : inline-block;
              position    : absolute;
              bottom      : -9px;
              left        : 50%;
              margin-left : -6px;
            }
          }

          .line {
            background-color: @header-item-color;
            position        : absolute;
            height          : 2px;
            margin-top      : -2px;
            width           : 162px;
            left            : -86px;
            top             : 50%;
          }
        }

        .text {
          font-weight: 400;
        }

        &.active {
          color: @header-text-color-active;

          .number {
            .inner {
              border: @header-item-border-active;

              span {
                color: @header-item-color-active;
              }

              .triangle {
                border-color: @header-item-color-active transparent transparent transparent;
              }

            }

            .line {
              background-color: @header-item-color-active;
            }
          }

          .text {
            font-weight: 600;
          }
        }

        &.skip {
          .number {
            .inner {
              background-color: @header-item-color-skip;
              border-color    : @header-item-color-skip;

              .triangle {
                border-color: @header-item-color-skip transparent transparent transparent;
              }

              span {
                color: @main-text-color;
              }
            }

            .line {
              background-color: @header-item-color-active;
            }
          }

          .text {
            color: @lightgray;
          }
        }

        &.linkable {
          .number {
            .inner {
              background-color: @header-item-color-active;

              a {
                text-decoration: none;

                span {
                  color: @main-text-color;
                }
              }
            }
          }

          .text {
            font-weight: @main-font-weight;

            a {
              color          : @header-text-color-active;
              text-decoration: none;
            }
          }
        }
      }

      .item+.item {
        margin-left: 4px;
      }
    }
  }
}

.breadcrumb-mobile {
  color           : @secondary-color;
  background-color: @lightgray;
  text-align      : center;
  padding         : 10px 0;
  position        : relative;

  .back-icon {
    display : inline-block;
    position: absolute;
    top     : 0;
    left    : 0;
    bottom  : 0;
    padding : inherit;

    [class*="icon-"] {
      font-size: 30px;
      padding  : 15px;
    }
  }

  .steps {
    text-transform: uppercase;
    font-size     : 11px;
  }

  .page-title {
    font-size  : 13px;
    font-weight: 600;
  }
}
