@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700,700i');
/**
 * Import vendors & globals
 */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
/**
 * Main configurations
 */
/**
 * Typography
 */
/**
 * Titles
 */
/**
 * Buttons
 */
/**
* Headers
*/
/**
 * Footers
 */
/**
 * Forms
 */
/**
 * Lists
 */
/**
 * Sliders
 */
/**
 * Tables
 */
@font-face {
  font-family: 'carrefour-adl';
  src: url("../fonts/carrefour-adl.eot?efkkjg");
  src: url("../fonts/carrefour-adl.eot?efkkjg#iefix") format('embedded-opentype'), url("../fonts/carrefour-adl.ttf?efkkjg") format('truetype'), url("../fonts/carrefour-adl.woff?efkkjg") format('woff'), url("../fonts/carrefour-adl.svg?efkkjg#carrefour-adl") format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'carrefour-adl' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-carte:before {
  content: "\e900";
}
.icon-coche:before {
  content: "\e901";
}
.icon-croix_hs:before {
  content: "\e902";
}
.icon-croix-popup:before {
  content: "\e903";
}
.icon-croix:before {
  content: "\e904";
}
.icon-fleche:before {
  content: "\e905";
}
.icon-fleche2:before {
  content: "\e906";
}
.icon-num:before {
  content: "\e907";
}
.icon-panier:before {
  content: "\e908";
}
.icon-pin_tunnel_actif:before {
  content: "\e909";
}
.icon-pin_tunnel:before {
  content: "\e90a";
}
.main-title {
  color: #004d9a;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 80px;
}
@media (max-width: 1199px) {
  .main-title {
    font-size: 70px;
  }
}
@media (max-width: 991px) {
  .main-title {
    font-size: 41px;
  }
}
.main-subtitle {
  color: #00b1eb;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 53px;
}
@media (max-width: 991px) {
  .main-subtitle {
    font-size: 27px;
    margin: 10px 0 0;
  }
}
.list {
  list-style-type: none;
}
@media (max-width: 991px) {
  .list {
    padding: 0 0 0 15px;
  }
}
.list li {
  float: left;
  position: relative;
}
@media (max-width: 991px) {
  .list li {
    float: none;
    display: block;
  }
}
.list li span {
  color: #004d9a;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}
.list li::before {
  content: "•";
  color: #63dada;
  font-size: 54px;
  position: absolute;
  left: -24px;
  top: -26px;
}
.list li + li {
  margin-left: 80px;
}
@media (max-width: 1199px) {
  .list li + li {
    margin-left: 24px;
  }
}
@media (max-width: 991px) {
  .list li + li {
    margin-left: 0;
  }
}
.btn {
  padding: 8px 50px;
  color: #ffffff;
  background-color: #dd992e;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 0;
}
.btn:active,
.btn:focus,
.btn:hover {
  background-color: #d58045;
  color: #ffffff;
}
.btn.btn-secondary {
  background-color: #00b1eb;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
}
.btn.btn-secondary:active,
.btn.btn-secondary:focus,
.btn.btn-secondary:hover {
  background-color: #00a1d6;
}
.btn.btn-small {
  padding: 4px 36px;
}
.btn.clear {
  background-color: #ffffff;
  color: #dd992e;
  border-color: #dd992e;
}
.btn.clear:active,
.btn.clear:focus,
.btn.clear:hover {
  background-color: #fbf3e8;
}
.form .form-group {
  position: relative;
  margin-bottom: 18px;
}
.form .form-group label {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}
.form .form-group label.form-control-placeholder {
  position: absolute;
  top: 10px;
  transition: all 200ms;
  color: #c2cddf;
}
.form .form-group .form-control:focus + .form-control-placeholder,
.form .form-group .form-control:valid + .form-control-placeholder {
  transform: translate3d(0, -110%, 0);
  color: #00b1eb;
  font-size: 12px;
}
.form .form-group input[type=checkbox],
.form .form-group input[type=radio] {
  visibility: hidden;
}
.form .form-group input[type=text] {
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid #c2cddf;
  color: #ffffff;
  padding: 0;
}
.form .form-group.form-checkboxes {
  margin-bottom: 8px;
}
.form .form-group.form-checkboxes label:first-child {
  display: block;
  font-size: 12px;
  color: #00b1eb;
}
.form .form-group .radio {
  display: inline-block;
}
.form .form-group .radio label {
  color: #ffffff;
  padding-left: 0;
  font-size: 14px;
}
.form .form-group .radio input[type="radio"] + label:before {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  display: inline-block;
  transition-duration: 0.3s;
  width: 14px;
  height: 14px;
  content: '';
  border-radius: 50%;
  margin-right: 4px;
}
.form .form-group .radio input[type="radio"]:checked + label:before {
  background: #00b1eb;
  padding: 2px;
  text-align: center;
  border: 2px solid #ffffff;
}
.form .form-group .radio + .radio {
  margin-left: 30px;
}
.form .form-group.has-error label.form-control-placeholder {
  color: #e35151 !important;
}
.form .form-group.has-error input[type="text"] {
  border-color: #e35151;
}
.form .form-group.has-error .text-error {
  position: absolute;
  top: -8px;
  right: 0;
}
.form.light .form-group input[type=text] {
  color: #004d9a;
}
.form.light .form-group--active input[type=text] {
  border-color: #004d9a;
}
.form.light .form-group .radio label {
  color: #004d9a;
}
.form.light .form-group .radio input[type="radio"] + label:before {
  border-color: #d8d8d8;
}
.form small.text-error {
  font-size: 11px;
  font-style: italic;
  color: #e35151;
}
.tabbar {
  padding: 0 15px;
  display: flex;
}
@media (max-width: 767px) {
  .tabbar {
    display: block;
    overflow: auto;
    white-space: nowrap;
  }
}
.tabbar .tabbar-item {
  flex-grow: 1;
  padding: 0;
  text-align: left;
}
@media (max-width: 767px) {
  .tabbar .tabbar-item {
    display: inline-block;
  }
}
.tabbar .tabbar-item .inner {
  display: inline-block;
  padding-bottom: 10px;
}
.tabbar .tabbar-item a {
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: #666666;
  padding-bottom: 10px;
}
.tabbar .tabbar-item.active .inner,
.tabbar .tabbar-item:active .inner,
.tabbar .tabbar-item:focus .inner,
.tabbar .tabbar-item:hover .inner {
  border-bottom: 3px solid #00b1eb;
}
.tabbar .tabbar-item.active a,
.tabbar .tabbar-item:active a,
.tabbar .tabbar-item:focus a,
.tabbar .tabbar-item:hover a {
  color: #00b1eb;
}
.tabbar .tabbar-item + .tabbar-item {
  margin-left: 20px;
}
.tabbar .tabbar-item:last-child {
  margin-right: 15px;
}
.slider .slider-header h5 {
  color: #1e213c;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.slider .slider-content {
  margin: 0 -50px;
  position: relative;
}
@media (max-width: 991px) {
  .slider .slider-content {
    margin: 0;
  }
}
@media (max-width: 767px) {
  .slider .slider-content {
    margin: 0 -15px;
  }
}
.slider .slider-content.unanimated {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.slider .slider-content.unanimated .slider-item {
  margin-right: 12px;
  margin-bottom: 12px;
}
@media (max-width: 767px) {
  .slider .slider-content.unanimated .slider-item {
    margin-right: 4px;
    margin-bottom: 4px;
  }
}
.slider .slider-content.unanimated .slider-item + .slider-item {
  margin-left: 0;
}
.slider .slider-content.unanimated .slider-item:first-child {
  margin: 0 12px 12px 0;
}
@media (max-width: 767px) {
  .slider .slider-content.unanimated .slider-item:first-child {
    margin-right: 4px;
    margin-bottom: 4px;
  }
}
.slider .slider-content .slick-track {
  left: 50px;
}
@media (max-width: 991px) {
  .slider .slider-content .slick-track {
    left: 0;
  }
}
@media (max-width: 767px) {
  .slider .slider-content .slick-track {
    left: 15px;
  }
}
.slider .slider-content:hover .slick-arrow {
  display: block !important;
}
.slider .slider-content .slick-arrow {
  position: absolute;
  width: 50px;
  top: 0;
  bottom: 0;
  z-index: 10;
  border: 0;
  border-radius: 0;
  outline: none;
  background-color: rgba(0, 0, 0, 0.7);
  display: none !important;
}
@media (max-width: 767px) {
  .slider .slider-content .slick-arrow {
    width: 0;
    z-index: 0;
    visibility: hidden;
  }
}
.slider .slider-content .slick-arrow.slick-prev {
  left: 0;
}
.slider .slider-content .slick-arrow.slick-next {
  right: 0;
}
.slider .slider-content .slick-arrow.slick-next .icon-fleche2 {
  display: inline-block;
  transform: rotateY(180deg);
}
.slider .slider-content .slider-item {
  display: inline-block;
  vertical-align: top;
  height: 276px;
  position: relative;
}
@media (max-width: 767px) {
  .slider .slider-content .slider-item {
    width: 140px;
    height: 192px;
  }
}
.slider .slider-content .slider-item:first-child {
  margin-left: 50px;
}
.slider .slider-content .slider-item .item-click {
  display: none;
  position: absolute;
  top: -10px;
  left: -182px;
  background-color: #ffffff;
  color: #000000;
  z-index: 2;
  width: 424px;
  outline: 0;
  -webkit-box-shadow: 0 0 6px 2px #666666;
  -moz-box-shadow: 0 0 6px 2px #666666;
  box-shadow: 0 0 6px 2px #666666;
}
.slider .slider-content .slider-item .item-click:active,
.slider .slider-content .slider-item .item-click:focus {
  outline: 0;
}
@media (max-width: 767px) {
  .slider .slider-content .slider-item .item-click {
    display: none !important;
  }
}
.slider .slider-content .slider-item .item-click .cover {
  float: left;
}
.slider .slider-content .slider-item .item-click .cover img {
  width: 212px;
  height: 290px;
}
.slider .slider-content .slider-item .item-click .description {
  width: 212px;
  height: 290px;
  float: left;
  padding: 40px 20px;
  position: relative;
}
.slider .slider-content .slider-item .item-click .description .mag {
  margin-bottom: 20px;
}
.slider .slider-content .slider-item .item-click .description .mag h6 {
  margin: 0;
  color: #00b1eb;
  text-transform: uppercase;
  font-size: 16px;
}
.slider .slider-content .slider-item .item-click .description .old-price,
.slider .slider-content .slider-item .item-click .description .price {
  display: inline-block;
  font-size: 18px;
}
.slider .slider-content .slider-item .item-click .description .price {
  color: #00b1eb;
  font-weight: 600;
}
.slider .slider-content .slider-item .item-click .description .old-price {
  color: #bebebe;
  padding-left: 14px;
}
.slider .slider-content .slider-item .item-click .description p {
  margin-bottom: 12px;
}
.slider .slider-content .slider-item .item-click .description .mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 77, 154, 0.9);
  color: #ffffff;
  font-size: 16px;
  padding: 20px;
  text-align: center;
  display: none;
}
.slider .slider-content .slider-item .item-click .description .mask .icon {
  margin-bottom: 30px;
  margin-top: 75px;
}
.slider .slider-content .slider-item .item-click .description .mask .icon [class^="icon-"],
.slider .slider-content .slider-item .item-click .description .mask .icon [class*=" icon-"] {
  border: 3px solid #ffffff;
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
}
.slider .slider-content .slider-item .cover {
  position: relative;
  cursor: pointer;
}
.slider .slider-content .slider-item .cover img {
  width: 201px;
  height: 276px;
}
@media (max-width: 767px) {
  .slider .slider-content .slider-item .cover img {
    width: 140px;
    height: 192px;
  }
}
.slider .slider-content .slider-item .cover .info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background-color: #c40078;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
}
.slider .slider-content .slider-item.slider-item-main {
  background-color: #ffffff;
  width: 412px;
}
@media (max-width: 767px) {
  .slider .slider-content .slider-item.slider-item-main {
    width: 140px;
    height: 192px;
  }
}
.slider .slider-content .slider-item.slider-item-main .slider-item-main-content,
.slider .slider-content .slider-item.slider-item-main .slider-item-main-header {
  padding: 14px;
}
.slider .slider-content .slider-item.slider-item-main .slider-item-main-header {
  background-color: #00b1eb;
}
@media (max-width: 767px) {
  .slider .slider-content .slider-item.slider-item-main .slider-item-main-header {
    padding: 6px 20px;
  }
}
.slider .slider-content .slider-item.slider-item-main .slider-item-main-header .category {
  max-width: 70px;
  font-weight: 600;
  color: #004d9a;
  text-transform: uppercase;
  padding-right: 14px;
  border-right: 1px solid #666666;
  display: inline-block;
}
@media (max-width: 767px) {
  .slider .slider-content .slider-item.slider-item-main .slider-item-main-header .category {
    border-right: 0;
    max-width: 100%;
  }
}
.slider .slider-content .slider-item.slider-item-main .slider-item-main-header .category span {
  display: inline-block;
  line-height: 1.16;
}
.slider .slider-content .slider-item.slider-item-main .slider-item-main-header .product {
  display: inline-block;
  padding-left: 14px;
}
@media (max-width: 767px) {
  .slider .slider-content .slider-item.slider-item-main .slider-item-main-header .product {
    display: none;
  }
}
.slider .slider-content .slider-item.slider-item-main .slider-item-main-header .product h6 {
  font-size: 16px;
  margin: 0;
  text-transform: uppercase;
}
.slider .slider-content .slider-item.slider-item-main .slider-item-main-content {
  position: relative;
  color: #000000;
}
@media (max-width: 767px) {
  .slider .slider-content .slider-item.slider-item-main .slider-item-main-content {
    padding: 10px 15px;
    background-color: #1fc8ff;
  }
}
.slider .slider-content .slider-item.slider-item-main .slider-item-main-content .cover {
  display: inline-block;
  vertical-align: top;
  position: static;
  padding-right: 10px;
  cursor: default;
}
.slider .slider-content .slider-item.slider-item-main .slider-item-main-content .cover img {
  height: 184px;
  width: auto;
}
@media (max-width: 767px) {
  .slider .slider-content .slider-item.slider-item-main .slider-item-main-content .cover img {
    height: 140px;
  }
}
.slider .slider-content .slider-item.slider-item-main .slider-item-main-content .description {
  display: inline-block;
  vertical-align: top;
  padding: 10px 10px 0;
}
@media (max-width: 767px) {
  .slider .slider-content .slider-item.slider-item-main .slider-item-main-content .description {
    display: none;
  }
}
.slider .slider-content .slider-item.slider-item-main .slider-item-main-content .description .old-price,
.slider .slider-content .slider-item.slider-item-main .slider-item-main-content .description .price {
  display: inline-block;
  font-size: 18px;
}
.slider .slider-content .slider-item.slider-item-main .slider-item-main-content .description .price {
  color: #00b1eb;
  font-weight: 600;
}
.slider .slider-content .slider-item.slider-item-main .slider-item-main-content .description .old-price {
  color: #bebebe;
  padding-left: 14px;
}
.slider .slider-content .slider-item.slider-item-main .slider-item-main-content .description p {
  margin-bottom: 12px;
}
.slider .slider-content .slider-item.slider-item-main .slider-item-main-content .description .mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 77, 154, 0.9);
  color: #ffffff;
  font-size: 16px;
  padding: 20px;
  text-align: center;
  display: none;
  z-index: 5;
}
.slider .slider-content .slider-item.slider-item-main .slider-item-main-content .description .mask .icon {
  margin-bottom: 30px;
  margin-top: 50px;
}
.slider .slider-content .slider-item.slider-item-main .slider-item-main-content .description .mask .icon [class^="icon-"],
.slider .slider-content .slider-item.slider-item-main .slider-item-main-content .description .mask .icon [class*=" icon-"] {
  border: 3px solid #ffffff;
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
}
.slider .slider-content .slider-item.slider-item-main .slider-item-main-content .info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background-color: #c40078;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
}
.slider .slider-content .slider-item + .slider-item {
  margin-left: 14px;
}
.slider .slider-content .slick-list {
  overflow-x: visible;
  padding-top: 14px;
  padding-bottom: 8px;
}
.slider + .slider {
  margin-top: 50px;
}
@media (max-width: 767px) {
  .slider + .slider {
    margin-top: 30px;
  }
}
table.table {
  background-color: #ffffff;
  margin: 0;
}
table.table thead {
  background-color: #00b1eb;
  color: #ffffff;
}
table.table thead th {
  font-weight: 400;
  padding: 15px 0 15px 30px;
  vertical-align: middle;
  border-bottom: 0;
}
@media (max-width: 767px) {
  table.table thead th {
    text-align: center;
  }
}
table.table thead th:first-of-type {
  text-transform: uppercase;
  font-weight: 600;
}
table.table thead th:last-of-type {
  width: 40px;
  padding: 0;
}
@media (max-width: 991px) {
  table.table thead th:last-of-type {
    width: 20px;
  }
}
table.table tbody tr.mag td {
  padding: 15px 0 15px 30px;
  vertical-align: middle;
  border-top: 1px solid #d8d8d8;
  text-align: center;
}
@media (max-width: 767px) {
  table.table tbody tr.mag td {
    position: relative;
  }
}
table.table tbody tr.mag td:first-of-type {
  text-align: left;
}
@media (max-width: 767px) {
  table.table tbody tr.mag td:first-of-type {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-around;
  }
}
@media (max-width: 767px) {
  table.table tbody tr.mag td .remove-mag {
    position: absolute;
    top: 15px;
    right: 0;
  }
}
@media (max-width: 991px) {
  table.table tbody tr.mag td {
    padding-left: 0;
  }
}
table.table tbody tr.mag td:last-of-type {
  padding: 0 30px 0 0;
}
@media (max-width: 991px) {
  table.table tbody tr.mag td:last-of-type {
    padding: 0;
  }
}
table.table tbody tr.mag td .cover {
  display: inline-block;
  vertical-align: top;
}
table.table tbody tr.mag td .cover img {
  height: 90px;
  width: auto;
}
table.table tbody tr.mag td .description {
  display: inline-block;
  padding: 15px;
  text-align: left;
}
@media (max-width: 767px) {
  table.table tbody tr.mag td .description {
    padding: 0 0 0 10px;
  }
}
table.table tbody tr.mag td .description h6 {
  margin: 0;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  color: #00b1eb;
}
@media (max-width: 767px) {
  table.table tbody tr.mag td .description h6 {
    padding-right: 14px;
  }
}
table.table tbody tr.mag td .description p {
  margin: 6px 0 0;
  font-style: italic;
  font-size: 12px;
  text-transform: uppercase;
  color: #666666;
}
table.table tbody tr.mag td .description p.more {
  position: relative;
  padding-left: 22px;
  text-transform: lowercase;
  font-style: normal;
}
table.table tbody tr.mag td .description p.more::before {
  font-family: 'carrefour-adl';
  content: "\e902";
  position: absolute;
  left: 0;
  top: 10px;
}
table.table tbody tr.mag td .prices {
  margin-bottom: 8px;
}
@media (max-width: 767px) {
  table.table tbody tr.mag td .prices {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
  }
}
table.table tbody tr.mag td .old-price {
  font-size: 18px;
  color: #bebebe;
}
table.table tbody tr.mag td .info {
  display: inline-block;
  vertical-align: top;
  width: 50px;
  height: 50px;
  background-color: #c40078;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  line-height: 50px;
}
table.table tbody tr.mag td .new-price {
  display: inline-block;
  padding-left: 15px;
  text-align: left;
}
table.table tbody tr.mag td .new-price .price {
  display: block;
  color: #00b1eb;
  font-size: 18px;
  font-weight: 600;
}
table.table tbody tr.mag td .icon-croix-popup {
  cursor: pointer;
}
table.table tbody tr.gift td {
  padding: 15px 0 15px 30px;
  vertical-align: middle;
  border-top: 1px solid #d8d8d8;
}
@media (max-width: 767px) {
  table.table tbody tr.gift td {
    padding: 15px 0;
  }
}
table.table tbody tr.gift td:last-of-type {
  padding-right: 30px;
}
table.table tbody tr.gift td .row {
  margin: 0;
  vertical-align: middle;
}
table.table tbody tr.gift td .row [class*="col-"] {
  padding: 0;
}
table.table tbody tr.gift td .row [class*="col-"]:first-of-type .gift-img {
  display: inline-block;
}
table.table tbody tr.gift td .row [class*="col-"]:first-of-type .gift-img img {
  height: 80px;
  width: auto;
}
@media (max-width: 767px) {
  table.table tbody tr.gift td .row [class*="col-"]:first-of-type .gift-img img {
    max-width: 100px;
    max-height: 100px;
    height: auto;
    width: auto;
  }
}
@media (max-width: 374px) {
  table.table tbody tr.gift td .row [class*="col-"]:first-of-type .gift-img img {
    max-width: 80px;
  }
}
table.table tbody tr.gift td .row [class*="col-"] .gift-text {
  display: inline-block;
  vertical-align: middle;
  max-width: 160px;
  padding-left: 30px;
}
@media (max-width: 767px) {
  table.table tbody tr.gift td .row [class*="col-"] .gift-text {
    padding-left: 0;
  }
}
table.table tbody tr.gift td .row [class*="col-"] .gift-text span {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 600;
  color: #00b1eb;
}
table.table tbody tr.gift td .row [class*="col-"].middle {
  padding: 12px 6px;
}
@media (max-width: 767px) {
  table.table tbody tr.gift td .row [class*="col-"].middle {
    padding: 0 6px;
  }
}
table.table tbody tr.gift td .row [class*="col-"].middle span {
  margin: 0;
  font-size: 20px;
  line-height: 1.2;
}
@media (max-width: 767px) {
  table.table tbody tr.gift td .row [class*="col-"].middle span {
    display: block;
    padding: 2px 0;
  }
}
table.table tbody tr.gift td .row [class*="col-"].middle .visible-sm span {
  font-size: 14px;
}
table.table tbody tr.gift td .row [class*="col-"]:last-of-type {
  padding: 30px 0 30px 20px;
  text-align: center;
}
/**
 * Global configuration
 */
html body {
  background-color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
}
@media (max-width: 991px) {
  html body {
    padding: 0 15px;
  }
}
html body ul {
  margin-bottom: 0;
}
html body strong {
  font-weight: 600;
}
html body h3 {
  margin: 0;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 22px;
}
html body hr {
  margin: 0;
  border: 1px solid #d8d8d8;
  margin-top: -3px;
}
html body a {
  color: #00b1eb;
  text-decoration: underline;
}
html body a:active,
html body a:focus,
html body a:hover {
  color: #00b1eb;
  text-decoration: none;
}
html body a.unlink {
  text-decoration: none;
}
html body a.unlink:active,
html body a.unlink:focus,
html body a.unlink:hover {
  text-decoration: underline;
}
html body .bg-primary {
  background-color: #004d9a;
}
html body .bg-secondary {
  background-color: #00b1eb;
}
html body .bg-tertiary {
  background-color: #63dada;
}
html body .bg-info {
  background-color: #c40078;
}
html body .bg-secondary-bg {
  background-color: #f0f0f0;
  color: #000000;
}
html body .small {
  font-size: 12px;
}
html body .strike {
  text-decoration: line-through;
}
html body .bold {
  font-weight: 700;
}
/**
 * Import partials
 */
header.header {
  height: 85px;
  background-color: #ffffff;
  padding: 17px 0;
}
header.header .left {
  float: left;
}
header.header .right {
  float: right;
}
header.header .right .breadcrumb {
  padding: 0;
  margin: 0;
  border-radius: 0;
  background-color: #ffffff;
  color: #868686;
  font-weight: 600;
  font-size: 13px;
  margin-right: -36px;
}
header.header .right .breadcrumb .item {
  display: inline-block;
  text-align: center;
  min-width: 160px;
}
header.header .right .breadcrumb .item .number {
  margin-bottom: 4px;
  position: relative;
}
header.header .right .breadcrumb .item .number .inner {
  width: 32px;
  height: 32px;
  display: inline-block;
  border: 3px solid #d8d8d8;
  border-radius: 50%;
  background-color: #ffffff;
  z-index: 10;
  position: relative;
}
header.header .right .breadcrumb .item .number .inner span {
  font-size: 16px;
  color: #d8d8d8;
  vertical-align: text-top;
}
header.header .right .breadcrumb .item .number .inner .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 5px 0 7px;
  border-color: #d8d8d8 transparent transparent transparent;
  display: inline-block;
  position: absolute;
  bottom: -9px;
  left: 50%;
  margin-left: -6px;
}
header.header .right .breadcrumb .item .number .line {
  background-color: #d8d8d8;
  position: absolute;
  height: 2px;
  margin-top: -2px;
  width: 162px;
  left: -86px;
  top: 50%;
}
header.header .right .breadcrumb .item .text {
  font-weight: 400;
}
header.header .right .breadcrumb .item.active {
  color: #00b1eb;
}
header.header .right .breadcrumb .item.active .number .inner {
  border: 3px solid #00b1eb;
}
header.header .right .breadcrumb .item.active .number .inner span {
  color: #00b1eb;
}
header.header .right .breadcrumb .item.active .number .inner .triangle {
  border-color: #00b1eb transparent transparent transparent;
}
header.header .right .breadcrumb .item.active .number .line {
  background-color: #00b1eb;
}
header.header .right .breadcrumb .item.active .text {
  font-weight: 600;
}
header.header .right .breadcrumb .item.skip .number .inner {
  background-color: #eaeaea;
  border-color: #eaeaea;
}
header.header .right .breadcrumb .item.skip .number .inner .triangle {
  border-color: #eaeaea transparent transparent transparent;
}
header.header .right .breadcrumb .item.skip .number .inner span {
  color: #ffffff;
}
header.header .right .breadcrumb .item.skip .number .line {
  background-color: #00b1eb;
}
header.header .right .breadcrumb .item.skip .text {
  color: #d8d8d8;
}
header.header .right .breadcrumb .item.linkable .number .inner {
  background-color: #00b1eb;
}
header.header .right .breadcrumb .item.linkable .number .inner a {
  text-decoration: none;
}
header.header .right .breadcrumb .item.linkable .number .inner a span {
  color: #ffffff;
}
header.header .right .breadcrumb .item.linkable .text {
  font-weight: 400;
}
header.header .right .breadcrumb .item.linkable .text a {
  color: #00b1eb;
  text-decoration: none;
}
header.header .right .breadcrumb .item + .item {
  margin-left: 4px;
}
.breadcrumb-mobile {
  color: #00b1eb;
  background-color: #d8d8d8;
  text-align: center;
  padding: 10px 0;
  position: relative;
}
.breadcrumb-mobile .back-icon {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding: inherit;
}
.breadcrumb-mobile .back-icon [class*="icon-"] {
  font-size: 30px;
  padding: 15px;
}
.breadcrumb-mobile .steps {
  text-transform: uppercase;
  font-size: 11px;
}
.breadcrumb-mobile .page-title {
  font-size: 13px;
  font-weight: 600;
}
footer.footer {
  background-color: #ffffff;
}
footer.footer .inner ul {
  list-style-type: none;
  text-align: center;
  padding: 20px 0;
}
footer.footer .inner ul li {
  display: inline-block;
}
@media (max-width: 767px) {
  footer.footer .inner ul li {
    display: block;
  }
}
footer.footer .inner ul li a {
  color: #666666;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 11px;
  text-transform: uppercase;
}
footer.footer .inner ul li + li {
  margin-left: 20px;
}
@media (max-width: 767px) {
  footer.footer .inner ul li + li {
    margin: 6px 0 0;
  }
}
/**
 * Import pages
 */
body.page-homepage section.main {
  background: #ffffff url('../img/HP/hp_bg.jpg') no-repeat top;
  background-size: cover;
}
@media (max-width: 991px) {
  body.page-homepage section.main {
    background: #ffffff url('../img/HP/bg_abs.jpg') repeat;
  }
}
body.page-homepage section.main .content {
  padding: 86px 0 40px;
}
@media (max-width: 991px) {
  body.page-homepage section.main .content {
    padding: 0;
  }
}
@media (max-width: 991px) {
  body.page-homepage section.main .content .left {
    text-align: center;
  }
}
body.page-homepage section.main .content .left .inner {
  padding-left: 56px;
  padding-top: 20px;
}
@media (max-width: 991px) {
  body.page-homepage section.main .content .left .inner {
    padding: 0;
  }
}
body.page-homepage section.main .content .left .inner h1 {
  text-transform: uppercase;
  margin-top: 10px;
}
@media (max-width: 991px) {
  body.page-homepage section.main .content .left .inner h1 {
    margin-top: 4px;
  }
}
body.page-homepage section.main .visible-xs.visible-sm img {
  width: 100%;
}
body.page-homepage section.main .footer {
  padding: 30px 20px 40px;
}
@media (max-width: 991px) {
  body.page-homepage section.main .footer {
    padding: 15px;
  }
}
body.page-homepage section.form .title {
  text-align: center;
  padding: 50px 0;
}
@media (max-width: 991px) {
  body.page-homepage section.form .title {
    padding: 50px 15px;
  }
}
body.page-homepage section.form .inner .action-block {
  text-align: center;
  padding: 40px 0 60px;
}
body.page-homepage section.form .form-footer {
  padding: 50px;
  background-color: #f0f0f0;
  color: #666666;
  font-size: 12px;
  line-height: 1.2;
}
@media (max-width: 991px) {
  body.page-homepage section.form .form-footer {
    padding: 40px 0 0;
    background-color: #ffffff;
  }
}
body.avantages-exclusifs #mobileCartItem {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  z-index: 20;
}
body.avantages-exclusifs #mobileCartItem .mobileCartItem-inner {
  padding: 30px;
  color: #000000;
}
body.avantages-exclusifs #mobileCartItem .mobileCartItem-inner .mobileCartItem-header {
  position: relative;
  padding-right: 20px;
}
body.avantages-exclusifs #mobileCartItem .mobileCartItem-inner .mobileCartItem-header .close-mag {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  color: #00b1eb;
  font-size: 20px;
  cursor: pointer;
}
body.avantages-exclusifs #mobileCartItem .mobileCartItem-inner .mobileCartItem-header h6 {
  margin: 0;
  text-transform: uppercase;
  font-size: 16px;
  color: #00b1eb;
}
body.avantages-exclusifs #mobileCartItem .mobileCartItem-inner .mobileCartItem-content .cover {
  margin: 30px 0;
  text-align: center;
}
body.avantages-exclusifs #mobileCartItem .mobileCartItem-inner .mobileCartItem-content .cover img {
  height: 230px;
  width: 168px;
}
body.avantages-exclusifs #mobileCartItem .mobileCartItem-inner .mobileCartItem-content .description {
  display: flex;
  justify-content: space-around;
}
body.avantages-exclusifs #mobileCartItem .mobileCartItem-inner .mobileCartItem-content .description .prices {
  font-size: 18px;
  padding-right: 10px;
}
body.avantages-exclusifs #mobileCartItem .mobileCartItem-inner .mobileCartItem-content .description .prices .price {
  color: #00b1eb;
}
body.avantages-exclusifs #mobileCartItem .mobileCartItem-inner .mobileCartItem-content .description .prices .old-price {
  color: #bebebe;
  margin-left: 8px;
}
body.avantages-exclusifs #mobileCartItem .mobileCartItem-inner .mobileCartItem-content .description .prices p {
  font-size: 12px;
}
body.avantages-exclusifs #mobileCartItem .mobileCartItem-inner .mobileCartItem-content .description .delimiter {
  width: 0;
  border-left: 1px solid;
}
body.avantages-exclusifs #mobileCartItem .mobileCartItem-inner .mobileCartItem-content .description .more {
  padding-left: 10px;
}
@media (max-width: 420px) {
  body.avantages-exclusifs #mobileCartItem .mobileCartItem-inner .mobileCartItem-content .description .more {
    max-width: 130px;
  }
}
body.avantages-exclusifs #mobileCartItem .mobileCartItem-inner .mobileCartItem-content .action-block {
  margin-top: 30px;
}
body.avantages-exclusifs #mobileCartItem .mobileCartItem-inner .mobileCartItem-content .action-block button {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  display: block;
}
body.avantages-exclusifs #mobileCartItem .mobileCartItem-inner .mobileCartItem-content .action-block .mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 77, 154, 0.9);
  color: #ffffff;
  font-size: 16px;
  padding: 20px;
  text-align: center;
  display: none;
}
body.avantages-exclusifs #mobileCartItem .mobileCartItem-inner .mobileCartItem-content .action-block .mask .icon {
  margin-bottom: 30px;
  margin-top: 200px;
}
body.avantages-exclusifs #mobileCartItem .mobileCartItem-inner .mobileCartItem-content .action-block .mask .icon [class^="icon-"],
body.avantages-exclusifs #mobileCartItem .mobileCartItem-inner .mobileCartItem-content .action-block .mask .icon [class*=" icon-"] {
  border: 3px solid #ffffff;
  border-radius: 50%;
  padding: 10px;
  font-size: 20px;
}
body.avantages-exclusifs section.main {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  background: #004d9a url('../img/selection/selection_bg.jpg') no-repeat top;
}
@media (max-width: 991px) {
  body.avantages-exclusifs section.main {
    background: #004d9a url('../img/selection/selection_bg_mobile.jpg') no-repeat bottom;
  }
}
body.avantages-exclusifs section.main .left {
  padding: 80px 0 80px 40px;
}
@media (max-width: 991px) {
  body.avantages-exclusifs section.main .left {
    padding: 40px 15px 230px;
  }
}
body.avantages-exclusifs section.main .left h3 {
  font-weight: 600;
  margin-bottom: 4px;
}
body.avantages-exclusifs section.main .left p {
  margin-bottom: 0;
}
body.avantages-exclusifs section.main .left p:first-of-type {
  margin-bottom: 10px;
}
body.avantages-exclusifs section.main .left a {
  color: #ffffff;
}
body.avantages-exclusifs section.main .left .content {
  margin-top: 20px;
}
body.avantages-exclusifs section.selection {
  padding: 0 50px;
  background-color: #f0f0f0;
}
@media (max-width: 991px) {
  body.avantages-exclusifs section.selection {
    background-color: #ffffff;
    padding: 0;
  }
}
body.avantages-exclusifs section.selection .header {
  padding: 50px 0;
  margin: 0;
}
@media (max-width: 767px) {
  body.avantages-exclusifs section.selection .header {
    padding: 30px 0;
  }
}
body.avantages-exclusifs section.selection .header h4 {
  float: left;
  font-size: 20px;
  color: #00b1eb;
  font-weight: 400;
}
body.avantages-exclusifs section.selection .header .cart {
  float: right;
  color: #666666;
  position: relative;
}
@media (max-width: 767px) {
  body.avantages-exclusifs section.selection .header .cart {
    position: static;
  }
}
body.avantages-exclusifs section.selection .header .cart #mobileCart {
  color: #00b1eb;
  position: relative;
  cursor: pointer;
}
body.avantages-exclusifs section.selection .header .cart #mobileCart [class*="icon-"] {
  font-size: 30px;
}
body.avantages-exclusifs section.selection .header .cart #mobileCart #mobileNbCart {
  position: absolute;
  right: 11px;
  top: 8px;
}
body.avantages-exclusifs section.selection .header .cart .delimiter {
  margin: 0 10px;
}
body.avantages-exclusifs section.selection .header .cart .cart-inner {
  display: none;
  position: absolute;
  top: 38px;
  right: -30px;
  background-color: #ffffff;
  z-index: 10;
  width: 400px;
  border: 1px solid transparent;
}
@media (max-width: 991px) {
  body.avantages-exclusifs section.selection .header .cart .cart-inner {
    border: 1px solid #d8d8d8;
  }
}
@media (max-width: 767px) {
  body.avantages-exclusifs section.selection .header .cart .cart-inner {
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
  }
}
body.avantages-exclusifs section.selection .header .cart .cart-inner .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 20px 15px;
  border-color: transparent transparent #ffffff transparent;
  position: absolute;
  top: -20px;
  right: 50px;
}
@media (max-width: 991px) {
  body.avantages-exclusifs section.selection .header .cart .cart-inner .triangle {
    border-color: transparent transparent #d8d8d8 transparent;
  }
}
@media (max-width: 767px) {
  body.avantages-exclusifs section.selection .header .cart .cart-inner .triangle {
    display: none;
  }
}
body.avantages-exclusifs section.selection .header .cart .cart-inner .cart-header {
  margin: 30px;
  color: #00b1eb;
  font-size: 20px;
  position: relative;
}
body.avantages-exclusifs section.selection .header .cart .cart-inner .cart-header .close-cart {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
body.avantages-exclusifs section.selection .header .cart .cart-inner .cart-list {
  margin: 30px 10px 0;
  border-bottom: 1px solid #d8d8d8;
}
@media (max-width: 767px) {
  body.avantages-exclusifs section.selection .header .cart .cart-inner .cart-list {
    margin-top: 0;
  }
}
body.avantages-exclusifs section.selection .header .cart .cart-inner .cart-list .cart-list-inner {
  padding: 0 20px;
  max-height: 380px;
  overflow-y: scroll;
}
body.avantages-exclusifs section.selection .header .cart .cart-inner .cart-list .cart-list-inner .cart-item {
  border-bottom: 1px solid #d8d8d8;
  position: relative;
}
@media (max-width: 420px) {
  body.avantages-exclusifs section.selection .header .cart .cart-inner .cart-list .cart-list-inner .cart-item {
    display: flex;
  }
}
body.avantages-exclusifs section.selection .header .cart .cart-inner .cart-list .cart-list-inner .cart-item:last-child {
  border: 0;
}
body.avantages-exclusifs section.selection .header .cart .cart-inner .cart-list .cart-list-inner .cart-item .remove-action {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
body.avantages-exclusifs section.selection .header .cart .cart-inner .cart-list .cart-list-inner .cart-item + .cart-item {
  margin-top: 20px;
}
body.avantages-exclusifs section.selection .header .cart .cart-inner .cart-list .cart-list-inner .cart-item .cover {
  float: left;
}
body.avantages-exclusifs section.selection .header .cart .cart-inner .cart-list .cart-list-inner .cart-item .cover img {
  height: 110px;
  width: 80px;
}
body.avantages-exclusifs section.selection .header .cart .cart-inner .cart-list .cart-list-inner .cart-item .description {
  float: left;
  padding-left: 20px;
  width: 220px;
}
body.avantages-exclusifs section.selection .header .cart .cart-inner .cart-list .cart-list-inner .cart-item .description .mag {
  margin-bottom: 10px;
  padding-right: 20px;
}
body.avantages-exclusifs section.selection .header .cart .cart-inner .cart-list .cart-list-inner .cart-item .description .mag h6 {
  margin: 0;
  color: #00b1eb;
  text-transform: uppercase;
  font-size: 16px;
}
body.avantages-exclusifs section.selection .header .cart .cart-inner .cart-list .cart-list-inner .cart-item .description .old-price,
body.avantages-exclusifs section.selection .header .cart .cart-inner .cart-list .cart-list-inner .cart-item .description .price {
  display: inline-block;
  font-size: 18px;
}
body.avantages-exclusifs section.selection .header .cart .cart-inner .cart-list .cart-list-inner .cart-item .description .price {
  color: #00b1eb;
  font-weight: 600;
}
body.avantages-exclusifs section.selection .header .cart .cart-inner .cart-list .cart-list-inner .cart-item .description .old-price {
  color: #bebebe;
  padding-left: 15px;
}
body.avantages-exclusifs section.selection .header .cart .cart-inner .cart-list .cart-list-inner .cart-item .description p {
  margin-bottom: 8px;
}
body.avantages-exclusifs section.selection .header .cart .cart-inner .cart-list .cart-list-inner .cart-item .description p.more {
  position: relative;
  padding-left: 16px;
}
body.avantages-exclusifs section.selection .header .cart .cart-inner .cart-list .cart-list-inner .cart-item .description p.more::before {
  font-family: 'carrefour-adl';
  content: "\e902";
  position: absolute;
  left: 0;
  top: 10px;
}
body.avantages-exclusifs section.selection .header .cart .cart-inner .cart-action {
  text-align: center;
  padding: 30px 0;
}
body.avantages-exclusifs section.selection .tabbar .item {
  display: inline-block;
}
body.avantages-exclusifs section.selection .sliders {
  margin: 50px 0;
}
@media (max-width: 767px) {
  body.avantages-exclusifs section.selection .sliders {
    margin: 30px 0;
  }
}
body.avantages-exclusifs section.selection .action-block {
  text-align: center;
  padding: 40px 0 60px;
}
body.avantages-exclusifs section.selection .action-block button {
  font-size: 18px;
}
@media (max-width: 767px) {
  body.avantages-exclusifs section.selection .action-block button {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}
body.avantages-exclusifs section.selection .action-block a {
  color: transparent;
}
body.avantages-exclusifs section.selection .action-block a + a button {
  margin-left: 15px;
}
@media (max-width: 767px) {
  body.avantages-exclusifs section.selection .action-block a + a button {
    margin-top: 15px;
    margin-left: 0;
  }
}
body.avantages-exclusifs section.selection .selection-footer {
  font-size: 12px;
  color: #666666;
  padding: 0 50px 50px;
}
body.panier {
  position: relative;
}
body.panier section.main {
  background-color: #f0f0f0;
  padding: 60px 65px;
}
@media (max-width: 1199px) {
  body.panier section.main {
    background-color: #ffffff;
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media (max-width: 991px) {
  body.panier section.main {
    padding-top: 0;
  }
}
body.panier section.main .checking .left,
body.panier section.main .checking .right {
  padding: 0;
  color: #000000;
}
@media (max-width: 1199px) {
  body.panier section.main .checking .left,
  body.panier section.main .checking .right {
    float: none;
    width: 100%;
  }
}
body.panier section.main .checking .left .inner {
  margin-right: 15px;
  background-color: #ffffff;
}
@media (max-width: 1199px) {
  body.panier section.main .checking .left .inner {
    margin-right: 0;
  }
}
body.panier section.main .checking .right .inner {
  padding: 36px 26px;
  margin-left: 15px;
  background-color: #ffffff;
}
@media (max-width: 1199px) {
  body.panier section.main .checking .right .inner {
    margin-left: 0;
    background-color: #f0f0f0;
  }
}
body.panier section.main .checking .right .inner h4 {
  font-size: 20px;
  color: #00b1eb;
  font-family: 'Open Sans', sans-serif;
  margin: 0 0 20px;
}
body.panier section.main .checking .right .inner #showAddress::before {
  font-family: 'carrefour-adl';
  content: "\e902";
  margin-right: 6px;
  display: inline-block;
}
body.panier section.main .checking .right .inner strong {
  text-transform: uppercase;
}
body.panier section.main .text {
  padding: 20px 0;
  color: #666666;
  font-size: 12px;
}
body.panier section.main .text a {
  color: inherit;
}
body.panier section.main .checkbox {
  margin: 0;
  /* Base for label styling */
  /* checkbox aspect */
  /* checked mark aspect */
  /* checked mark aspect changes */
}
body.panier section.main .checkbox label {
  color: #000000;
}
body.panier section.main .checkbox [type="checkbox"]:checked,
body.panier section.main .checkbox [type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
body.panier section.main .checkbox [type="checkbox"]:checked + label,
body.panier section.main .checkbox [type="checkbox"]:not(:checked) + label {
  position: relative;
  padding-left: 1.95em;
  cursor: pointer;
}
body.panier section.main .checkbox [type="checkbox"]:checked + label:before,
body.panier section.main .checkbox [type="checkbox"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 16px;
  height: 16px;
  border: 1px solid #d8d8d8;
  background: #ffffff;
  border-radius: 0;
}
body.panier section.main .checkbox [type="checkbox"]:checked + label:after,
body.panier section.main .checkbox [type="checkbox"]:not(:checked) + label:after {
  font-family: 'carrefour-adl';
  content: "\e901";
  position: absolute;
  top: 3px;
  left: 3px;
  font-size: 11px;
  color: #00b1eb;
}
body.panier section.main .checkbox [type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
body.panier section.main .checkbox [type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
body.panier section.main .action-block {
  padding-top: 60px;
  padding-bottom: 40px;
  text-align: center;
}
body.panier section.main .action-block .col-md-6:first-of-type {
  text-align: right;
}
body.panier section.main .action-block .col-md-6:last-of-type {
  text-align: left;
}
@media (max-width: 767px) {
  body.panier section.main .action-block .col-md-6 {
    text-align: center !important;
  }
  body.panier section.main .action-block .col-md-6 button {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  body.panier section.main .action-block .col-md-6 + .col-md-6 {
    margin-top: 15px;
  }
}
body.panier .popup-change-address {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
}
body.panier .popup-change-address .popup-inner {
  background-color: #ffffff;
  width: 460px;
  margin: 200px auto 0;
  border: 1px solid #d8d8d8;
}
@media (max-width: 767px) {
  body.panier .popup-change-address .popup-inner {
    width: 100%;
    margin: 0;
  }
}
body.panier .popup-change-address .popup-inner .popup-header {
  margin: 50px;
  position: relative;
}
body.panier .popup-change-address .popup-inner .popup-header h5 {
  margin: 0;
  font-size: 20px;
  color: #00b1eb;
  padding-right: 20px;
}
body.panier .popup-change-address .popup-inner .popup-header .popup-close {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  color: #00b1eb;
  font-size: 18px;
  cursor: pointer;
}
body.panier .popup-change-address .popup-inner .popup-content {
  margin: 0 50px;
}
body.panier .popup-change-address .popup-inner .popup-content .action-block {
  margin: 60px 0;
  text-align: center;
}
body.confirmation .top {
  text-align: center;
  font-size: 22px;
  padding: 60px 0;
}
body.confirmation .top strong {
  display: block;
  margin-bottom: 16px;
}
body.confirmation .content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
}
body.confirmation .content .col-md-4 {
  padding: 0 24px 90px;
  text-align: center;
}
body.confirmation .content .col-md-4.row-1 {
  padding: 90px 24px 20px;
}
@media (max-width: 991px) {
  body.confirmation .content .col-md-4.row-1 {
    display: block;
    width: 100%;
    padding: 40px 15px;
  }
}
body.confirmation .content .col-md-4 .round-icon {
  display: inline-block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 0 auto;
}
body.confirmation .content .col-md-4 .round-icon [class*='icon-'] {
  font-size: 30px;
  line-height: 60px;
}
body.confirmation .content .col-md-4 .main-text {
  margin-top: 20px;
}
body.confirmation .content .col-md-4 .main-text strong {
  color: #004d9a;
  text-transform: uppercase;
  font-size: 22px;
}
body.confirmation .content .col-md-4 .main-text h3 {
  font-weight: 600;
}
body.confirmation .content .col-md-4 .second-text {
  font-size: 16px;
}
body.confirmation .content .col-md-4.bg-secondary-bg .main-text h3 {
  color: #00b1eb;
}
body.confirmation .content .col-md-4 .action-block {
  margin-top: 30px;
}
@media (max-width: 1199px) {
  body.confirmation .content .col-md-4 .action-block button {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
@media (max-width: 991px) {
  body.confirmation .content .col-md-4 .action-block button {
    width: inherit;
    padding: 8px 50px;
  }
}
@media (max-width: 479px) {
  body.confirmation .content .col-md-4 .action-block button {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
