/**
 * Import vendors & globals
 */
@import "vendor/slick";
@import "global/variables";
@import "global/icons";
@import "global/titles";
@import "global/lists";
@import "global/buttons";
@import "global/forms";
@import "global/tabbars";
@import "global/sliders";
@import "global/tables";

/**
 * Global configuration
 */
html {
  body {
    background-color: @main-background-color;
    font-family     : @main-font-family;
    font-weight     : @main-font-weight;
    font-size       : @main-font-size;
    color           : @main-text-color;

    @media (max-width: 991px) {
      padding: 0 15px;
    }

    ul {
      margin-bottom: 0;
    }

    strong {
      font-weight: 600;
    }

    h3 {
      margin     : 0;
      color      : @heading-color;
      font-family: @heading-font-family;
      font-weight: @heading-font-weight;
      font-size  : @heading-font-size;
    }

    hr {
      margin    : 0;
      border    : 1px solid @lightgray;
      margin-top: -3px;
    }

    a {
      color          : @secondary-color;
      text-decoration: underline;

      &:active,
      &:focus,
      &:hover {
        color          : @secondary-color;
        text-decoration: none;
      }

      &.unlink {
        text-decoration: none;

        &:active,
        &:focus,
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .bg-primary {
      background-color: @primary-color;
    }

    .bg-secondary {
      background-color: @secondary-color;
    }

    .bg-tertiary {
      background-color: @tertiary-color;
    }

    .bg-info {
      background-color: @info-color;
    }

    .bg-secondary-bg {
      background-color: @secondary-background-color;
      color           : @b;
    }

    .small {
      font-size: 12px;
    }

    .strike {
      text-decoration: line-through;
    }

    .bold {
      font-weight: 700;
    }
  }
}

/**
 * Import partials
 */
@import "partial/header";
@import "partial/footer";

/**
 * Import pages
 */
@import "page/homepage";
@import "page/avantages-exclusifs";
@import "page/panier";
@import "page/confirmation";